//change Icon Bar
@mixin changeIconBar($name,$name1,$name2,$name3) {
    .#{$name}{
        .#{$name1}{
            transform: rotate(-45deg) translate(-9px, 6px);
        }
        .#{$name2}{
            opacity: 0;
        }
        .#{$name3}{
            transform: rotate(45deg) translate(-8px, -8px);
        }
    }
}
@include changeIconBar('changeIconBar','bar1','bar2','bar3');
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    animation: moveDown 1s;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
@keyframes moveDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
