*{
    padding:0;
    margin:0;
}

.section2Item {
    position: absolute;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    color: white;
    bottom: 30px;
}
.chasection2Image1{
    width: 100%;
    height: 360px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.section2 .section2Image1{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background: url('../../assets/images/section3-image4.jpg') center center no-repeat;
    background-size: cover;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    /* padding: 20px; */
}
.section2Image2{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background: url('../../assets/images/section3-image3.jpg') center center no-repeat;
    background-size: cover;
}
.section2 .chasection2Image1:hover .section2Image1{
    transform: scale(1.2);
}
.section2 .chasection2Image1:hover .section2Image2{
    transform: scale(1.2);
}
.section6 {
    margin-bottom: 30px;
}
.bceSearch button {
    padding: 5px 8px;
    background: #333;
    color: white;
    border: none;
    outline: none;
}

.tooltipSearch {
    background: red;
    padding: 20px;
    /* width: 200px; */
    /* height: 30px; */
    position: fixed;
    /* top: 44%; */
    margin-top: 5px;
    right: 0%;
    background-color: white;
    border: 2px solid #33333336;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 5;
}
.addTooltipSearch{
    opacity: 1;
    visibility: visible;
}

.bceSearch input {/* box-shadow: 30px 20px 10px -10px gray; */border: none;border: 1px solid #3333333d;padding: 5px;}

.bceSearch input:hover {
    box-shadow: 5px 5px 15px -7px grey;
    outline: none;
}

.bceSearch {
    display: flex;
    font-size: 12px;
    /* box-shadow: 5px 5px 15px -7px grey; */
}

.mainFooter {
    display: flex;
    justify-content: space-between;
}

.section4_1 ::placeholder {
    color: white;
  }
.gridFooter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer {
    background: #333;
    color: #9f9f9f;
    padding: 20px 0;
    font-size: 0.8em;
    margin-top: 30px;
}

.footer p {
    margin-bottom: 0;
}
.section8 button{
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background: #f9f939d9;
    color: black;
    font-weight: 600;
}

.section8 button:hover {
    background: #a2a208;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
label{
    padding-right: 15px;
}
.section8 .section8Input{
    width: 100%;
    padding: 12px 15px;
    margin:8px 0;
}
.section8 ul li{
    padding: 10px 0;
    border-bottom: 1px solid rgb(66, 66, 66);
}
.section8 ul li i{
    color: green;
}
.section8 ul li span{
    display:inline-block;
    text-indent: 1em;
    
}
.section8{
    width: 100%;
    background: url('../../assets/images/section3-image4.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    padding-bottom: 50px;
    padding-top: 30px;
}
.section8::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #151515d9;
}
.rowFlexSection4_1 button {
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    background: #baba00;
    color: #333;
    font-weight: 700;
    border: none;
}

.rowFlexSection4_1 p {
    margin-bottom: 0;
}

.inputEmail {
    width: 100%;
    padding: 10px 12px;
    color: white;
    border: none;
    border-radius: 20px;
    background: #52424291;
    border: 1px solid #4a4545;
}

.rowFlexSection4_1 {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerSection4_1 {
    width: 100%;
    height: 100%;
}
.section4_1{
    width: 100%;
    height: 150px;
    background: url('../../assets/images/section3-image4.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    /* padding-bottom: 30px; */
    /* padding-top: 30px; */
}
.section4_1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #151515d9;
}
.buttonSearch p {
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: 700;
}

.buttonSearch {
    display: flex;
    padding: 15px;
    border: 2px solid #3339;
    color: #3339;
    align-items: center;
    width: 160px;
    justify-content: center;
    border-radius: 5px;
    transition: 0.5s;
}

.buttonSearch:hover {
    border: none;
}
.section5 .item img{
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 0.5s;
}
.section5 .item img:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}
.owl-prev i,.owl-next i {
    color: #333 !important;
    font-weight: 700 !important;
}
.owl-carousel .owl-stage {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.main-content {
    position: relative;
  }
  .main-content .owl-theme .custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }
  .main-content .owl-theme .custom-nav .owl-prev,
  .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
    display: none;
  }
  .main-content .owl-theme .custom-nav .owl-prev i,
  .main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
  }
  .main-content .owl-theme .custom-nav .owl-prev {
    left: 0;
  }
  .main-content .owl-theme .custom-nav .owl-next {
    right: 0;
  }
.owl-theme .owl-dots {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 86%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #b96814;
}
.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
}
.owl-theme .owl-nav {
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}
.owl-theme .owl-nav:hover button{
    background: none !important;
}
.thucDonMon a {
    color: #8c8c8c;
}
.thucDonMon:hover{
    border: 2px solid white !important;
    border-radius: 5px;
}
.thucDonMon:hover a{
    color: white;
    text-decoration: none;
}

.section3-right {
    color: #828080;
}

.thucDonMon {
    padding: 10px 15px;
    width: 120px;
    border: 2px solid #828080;
    border-radius: 5px;
}

.section3Image{
	position: relative;
    width: 100%;
    height:100%;
    padding-bottom:25px; 
}
.section3Image img{
    width: 100%;
    height:100%;
    filter: gray;
  -webkit-filter: grayscale(100%);
}
.section3Image img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }
.imageSection71{
    width: 100%;
    height: 100%;
    background: url('../../assets/images/61-11-2014-6-05-19-PM.jpg') center center no-repeat;
    background-size: cover;
}
.imageSection72{
    width: 100%;
    height: 100%;
    background: url('../../assets/images/6cach-an-thit-nuong-2.jpg') center center no-repeat;
    background-size: cover;
}
.imageSection73{
    width: 100%;
    height: 100%;
    background: url('../../assets/images/6img20161208034438844.jpg') center center no-repeat;
    background-size: cover;
}
.imageSection74{
    width: 100%;
    height: 100%;
    background: url('../../assets/images/6images.jpg') center center no-repeat;
    background-size: cover;
}
.section3 {
    padding: 30px 0;
    background: #333;
    margin-top: 20px;
}




.section4 {
    padding: 30px 0;
    margin-top: 20px;
}
.imageSection41{
    width: 100%;
    height: 100%;
    background: url('../../assets/images/nha-hang-king-bbq-1-1-679x1024.jpg') center center no-repeat;
    background-size: cover;
}
.imageSection42{
    width: 100%;
    height: 100%;
    background: url('../../assets/images/nha-hang-king-bbq-1-2-679x1024.jpg') center center no-repeat;
    background-size: cover;
}
.imageSection6{
    width: 100%;
    height: 100%;
    background: url('../../assets/images/213854-set-menu-han-quoc-hap-dan-danh-cho-2-nguoi-suon-nuong-han-quoc.jpg') center center no-repeat;
    background-size: cover;
}
.imageSection7{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 30px;
}
.imageSection7 img{
    width: 100%;
    height: 100%;
}
@keyframes anmFormMenu{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.bgFormMenu{
    display: none !important;
}
.iconClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    color: #9f9f9f;
}
.iconClose:hover{
    color: white;
    font-size: 32px !important;
    transition: 0.25s;
}
ul.contact {
    display: flex;
}
.contact li:hover{
    background: none !important;
}
.contact li:hover .fa{
    color: palevioletred !important;
}
.containerFormMenu ul li a {
    color: #888;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
}

.hotLine a {
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
}

.hotLine a:hover {
    color: black !important;
    background: #dddd47;
    border: 1px solid #999;
}
.signUp a {
    padding: 8px 15px;
    background: #e9e93d;
    color: white !important;
    border-radius: 23px;
    font-weight: 700;
}

.signUp a:hover {background: #919111;}

.formMenu {
    position: absolute;
    width: 220px;
    background: white;
    top: 0;
    animation: 1s anmFormMenu;
}
.containerFormMenu ul li {
    padding: 15px;
    border-bottom: 1px solid #99999929;
}
.containerFormMenu ul li ul li{
    display: block;
}
.containerFormMenu ul li:hover {
    background: rgb(231, 231, 231);
}
.containerFormMenu ul li:hover a{
    color: #333;
}

.bgFormMenu {
    width: 100%;
    height: 100%;
    background: #333333a6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

a#hotlinePhone {
    padding: 5px 8px;
    border: 1px solid white;
    border-radius: 5px;
}


.divHotline{
    display: none;
}
.headerContainer a {
    color: white;
    text-decoration: none;
}

.hotline a {
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid white;
    display: block;
    font-weight: 500;
}

.hotline a:hover {
    color: black !important;
    background: yellow;
}

a.active {
    color: yellow;
}

.menu a:hover {
    color: yellow;
}

.menu ul li {
    padding-right: 15px;
}

.hotline p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}
.containerFormMenu ul {
    overflow: auto;
    white-space: nowrap;
    /* height: 100%; */
    height: 100vh;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
}

.menu {
    flex: 1;
}

.headerContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.header {
    height: 120px;
    background: #151515;
}
.icons{
    font-size: 25px;
    color: white;
    display: none;
}
.showMenu{
    display: block !important;
}

@keyframes anmFixedMenu{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
.fixedMenu{
    position: fixed;
    z-index: 99;
    width: 100% !important;
    top: 0;
    left: 0;
    animation: 1s anmFixedMenu;
}
.tooltipSearch::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 87%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #33333336 #33333336 white #33333336;
}
.owl-theme .owl-dots .owl-dot span{
    width: 15px !important;
    height: 15px !important;
    margin: 30px 10px !important;
}
@media (max-width:1102px){
    .owl-theme .owl-dots .owl-dot span{
        width: 10px !important;
        height: 10px !important;
        margin: 10px 5px !important;
    }
    .divHotline {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
    a#hotlinePhone:hover {
        color: black !important;
        background: yellow;
    }
    .hotline{
        display: none;
    }
    .menu ul li {
        padding-right: 0;
        padding-left: 15px;
    }
    .tooltipSearch::after {
        left: 82%;
    }
    .bceSearch {
        font-size: 18px;
    }
    .chasection2Image1{
        height: 350px;
    }
    .formMenu {
        width: 300px;
    }
}
@media (max-width: 425px){
    .tooltipSearch::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 87%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: #33333336 #33333336 white #33333336;
    }
    .bceSearch {
        font-size: 12px;
    }
    .chasection2Image1{
        height: 250px;
    }
    h1{
        font-size: 1.5rem;
    }
    .header {
        height: 80px;
    }
    .formMenu {
        width: 220px;
    }
}
@media (max-width: 849px){
    .rowFlexSection4_1 button {
        margin-top: 10px;
    }
    .rowFlexSection4_1 p {
        margin-bottom: 0;
        text-align: center;
        margin-bottom: 15px;
    }
    .section4_1{
        height: 215px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
    }
    .mainFooter {
        flex-direction: column;
        text-align: center;
    }
    .footerLeft1 {
        order: 2;
    }
    .footerRight1 {
        order: 1;
    }
    .icons{
        display: block;
    }
    .menu{
        display: none;
    }
    .divHotline{
        display: none;
    }
    .hotline{
        display: none;
    }
    .logo {
        flex: 1;
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
}
/* Header Menu */
.carousel-inner img {
    width: 100%;
    height: 85vh;
    overflow: hidden;
}
