// html{
//     font-size: 65%;
// }
$responsive-tablet: 768px;
$responsive-mobile: 425px;
$minWidth:320px;
$maxWidth:768px;
// @mixin laptop {
//     @media (min-width: #{$responsive-tablet} + 1px){
//         @content;
//     }
// }
@mixin  resTotal {
    @media (min-width: #{$minWidth}) and (max-width: #{$maxWidth}){
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$responsive-mobile + 1px}) and (max-width: #{$responsive-tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$responsive-mobile}) {
        @content;
    }
}