@mixin titleGallery($name) {
    .#{$name}{
        padding-top: 10rem;
        h3{
            font-size: 3.2rem;
            font-family: $DancingScript-slab;
            color: $colorYellow;
        }
        p{
            font-size: 2.8rem;
            font-family: $Roboto-Slab;
            color: $colorGray;
            font-weight: bold;
        }
    }
}
@mixin imgGallery($name,$name1) {
    .#{$name}{
        position: relative;
        overflow: hidden;
        .#{$name1}{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $colorLight;
            background-image: linear-gradient(-180deg, $colorLight,$colorGray);
            top: 0;
            left: 0;
            bottom: 100%;
            opacity: 0;
            transition: 0.5s;
            h3{
                font-family: $Oswald;
                font-size: 2.4rem;
                color: $colorYellow;
                padding: 2rem;
            }
        }
        &:hover{
            .#{$name1}{
                opacity: 1;
            }
        }
    }
}
@mixin boxGallery($name) {
    .#{$name}{
        padding: 5rem 0;
        @include imgGallery('imgGallery','overlayGallery');
    }
}
@mixin gallery($name) {
    .#{$name}{
        @include titleGallery('titleGallery');
        @include boxGallery('boxGallery');
    }
}
@include gallery('gallery');
