@mixin fancybox-container($name) {
    .#{$name}{
        // .myClose {
        //     height: 50px;
        //     width: 50px;
        //     background: #ff0000;
        // }
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 2rem;
        @include resTotal{
            display: none;
        }
        // .fancybox-bg {
		// 	// background: green;
        // }
        .fancybox-inner {
            right: 0 !important;
            .fancybox-stage {
                top: 20px;
			    left: 0;
                width: 100%;
                height: 100%;
            }
            .fancybox-caption {
                // padding: 0;
                // border: 0;
               
                bottom: 75%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                .fancybox-caption__body{
                    padding: 20px;
                    background: orange;
                    width: 371px;
                    text-align: center;
                }
            }
            .fancybox-navigation{
                .fancybox-button {
                    background: transparent !important;
                    opacity: 1;
                    // margin: 5rem;
                    &::before,&::after{
                        background-color: #000;
                        width: 20px;
                    }
                    div{
                        background: #6d6d6dbf;
                    }
                }
                .fancybox-button--arrow_left{
                    left: 38%;
                }
                .fancybox-button--arrow_right{
                    right: 38%;
                }
            }
            .fancybox-caption{
                background: none;
            }
            .fancybox-toolbar{
                width: 100%;
                left: 60%;
                top: 11%;
            }
            
		}
        .fancybox-thumbs {
			top: 44px;
			// right: 200px;
			bottom: 44px;
            width: auto;
            background: transparent;
            overflow-y: auto;
            right: 20%;
            
            ul{
                li{
                    max-width: 100%;
                }
            }
            .fancybox-thumbs__list{
                display: flex;
                flex-direction: column;
                // width: 100%;
                height: 600px;
                a{
                    max-width: calc(100% - 4px);
                    &::before{
                        border: 3px solid #c0d01936;
                    }
                }
            }
           
		}

    }
}

@include fancybox-container('fancybox-container');