@mixin pagiGallery($name,$name1) {
    .#{$name}{
        padding-bottom: 7rem;
        ul{
            li{
                padding: 1.2rem 2rem;
                a{
                    color: $colorGray;
                    font-size: 1.5rem;
                    font-family: $Roboto-Slab;
                }
                &:hover{
                    background-color: $colorYellow;
                    border-radius: 50%;
                    a{
                        color: $colorWhite;
                        text-transform: none;
                    }
                }
            }
            .active{
                a{
                    color: $colorWhite;
                }
                background-color: $colorYellow;
                border-radius: 50%;
            }
            .#{$name1}{
                padding: 1.5rem 3rem;
                border:1px solid $colorLight;
                border-radius: 3rem;
                &:hover{
                    a{
                        text-decoration: none;
                    }
                    border-radius: 3rem;
                }
            }
        }
    }
}
@include pagiGallery('pagiGallery','nextPagi');