
html {
    font-size: 62.5%;
}
@import 'page/about/index.scss';
@import 'page/home/index.scss';
@import 'page/reservation/index.scss';
@import 'page/Menu/index.scss';
@import 'page/Gallery/index.scss';
@import 'page/Blog/index.scss';
@import 'page/Shop/index.scss';
@import 'page/contact/index.scss';

// @import 'Action/actionsType.scss';
@import url(https://fonts.googleapis.com/css?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap);
@mixin fixContainer() {
    @media (min-width: 1200px) {
        .container {
            max-width: 1155px !important;
        }
    }
}
@include fixContainer();
*{
    padding: 0;
    margin: 0;
}
