@import url(https://fonts.googleapis.com/css?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap);
html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.topBar {
  height: 40px;
  background-color: #333333;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBar {
    z-index: 1;
    height: 100px;
  }
}

.topBarIcons {
  border-right: 1px solid #434343;
}

.topBarIcons ul li {
  padding-right: 30px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarIcons {
    display: none !important;
  }
}

.topBarPhone {
  padding-left: 2.5rem;
  border-right: 1px solid #434343;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarPhone {
    border-right: none;
  }
}

@media (max-width: 425px) {
  .topBarPhone {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarPhone {
    display: none !important;
  }
}

.topBaropen {
  padding-left: 2.5rem;
  border-right: 1px solid #434343;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBaropen {
    border-right: none;
  }
}

@media (max-width: 425px) {
  .topBaropen {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBaropen {
    display: none !important;
  }
}

.topBarTrans {
  padding-left: 2.5rem;
  border-right: 1px solid #434343;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarTrans {
    border-right: none;
  }
}

@media (max-width: 425px) {
  .topBarTrans {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.topBarTrans select {
  border: none;
  background: none;
  color: #ffffff;
  outline: none;
}

.topBarTrans select option {
  background: #333;
  color: #ffffff;
  outline: none;
}

.topBarTrans select option:hover {
  background-color: #777777 !important;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarTrans {
    display: none !important;
  }
}

.topBarBag {
  padding-left: 2.5rem;
  border-right: 1px solid #434343;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarBag {
    border-right: none;
  }
}

@media (max-width: 425px) {
  .topBarBag {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarBag {
    padding-left: 0;
    padding-right: 0;
  }
}

.topBarIconBar {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarIconBar {
    display: block;
  }
  .topBarIconBar .bar1 {
    width: 2.8rem;
    height: 0.4rem;
    background-color: #ffffff;
    margin: 7px 0;
    transition: 0.4s;
  }
  .topBarIconBar .bar2 {
    width: 2.8rem;
    height: 0.4rem;
    background-color: #ffffff;
    margin: 7px 0;
    transition: 0.4s;
  }
  .topBarIconBar .bar3 {
    width: 2.8rem;
    height: 0.4rem;
    background-color: #ffffff;
    margin: 7px 0;
    transition: 0.4s;
  }
}

.topBarLogo img {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarLogo img {
    display: block;
  }
}

.menu {
  height: 100px;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  background-color: #ffffff;
}

.menu .mainMenu ul li {
  padding-right: 3rem;
}

.menu .mainMenu ul li a {
  color: #777777;
}

.menu .mainMenu ul li a:hover {
  text-decoration: none;
  color: #feb518;
}

.menu .mainMenu ul li .activeMenu {
  color: #feb518;
}

.menu .buttonReser button {
  padding: 1.8rem 4rem;
  background-color: #feb518;
  color: #333333;
  border: none;
}

.menu .buttonReser button:hover {
  transform: scale(1.05, 1.05);
  transition: 0.25s;
}

@media (min-width: 320px) and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.replaceMenu {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .replaceMenu {
    display: block;
    z-index: 5;
    position: absolute;
    padding: 30px;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #434343;
  }
  .replaceMenu ul li a {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 2rem;
    text-decoration: none;
  }
  .replaceMenu ul li a:hover {
    color: #feb518;
  }
  .replaceMenu ul li .activeMenu {
    color: #feb518;
  }
}

.banner {
  width: 100%;
  height: 500px;
  background-color: #6e6e6e;
}

.banner .textBanner {
  text-align: center;
}

.banner .textBanner h3 {
  color: #feb518;
  font-family: "Dancing Script";
  font-size: 3.2rem;
}

.banner .textBanner p {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 2.8rem;
}

@media (max-width: 425px) {
  .banner .textBanner h3 {
    font-size: 2.5rem;
  }
  .banner .textBanner p {
    font-size: 2rem;
  }
}

.banner .filters ul h4 li {
  color: #ffffff;
  padding: 0 1.5rem;
}

.banner .filters ul h4 li:hover {
  color: #feb518;
  cursor: pointer;
}

.banner .filters ul h4 .active {
  color: #feb518;
}

@media (max-width: 425px) {
  .banner .filters h3 {
    font-size: 2.5rem;
  }
  .banner .filters p {
    font-size: 2rem;
  }
}

.section1 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section1 .section1Text h4 {
  font-family: "Dancing Script";
  color: #feb518;
  font-size: 3rem;
}

.section1 .section1Text h3 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 35px;
}

.section1 .section1Text .section1TextP p {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #777777;
  margin-bottom: 2rem;
}

.section1 .section1Text .section1TextP h5 {
  font-family: "Oswald";
  font-size: 1.6rem;
  color: #333333;
  font-weight: bold;
}

.section1 .section1Text button {
  background-color: #feb518;
  color: #333333;
  padding: 2rem 2.5rem;
  border: none;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  margin-bottom: 35px;
}

.section1 .section1Text button:hover {
  transform: scale(1.05, 1.05);
  transition: 0.25s;
}

@media (max-width: 425px) {
  .section1 .section1Text h3 {
    font-size: 2rem;
  }
}

.section1 .sectionBox .sectionBox1 {
  height: 370px;
  width: 100%;
  background-color: #d0d0d0;
}

.ourService {
  padding-top: 120px;
  padding-bottom: 120px;
}

.ourService .titleOurSer {
  text-align: center;
}

.ourService .titleOurSer h3 {
  font-family: "Dancing Script";
  font-size: 4rem;
  color: #feb518;
}

.ourService .titleOurSer p {
  font-family: "Roboto Slab";
  font-size: 2.4em;
  color: #333333;
  font-weight: bold;
}

.ourService .sliderOurSet {
  padding-top: 60px;
}

.ourService .sliderOurSet .editCarousel img {
  margin: 0;
  display: block;
  width: 50%;
  height: 100px !important;
  padding-bottom: 20px;
}

.ourService .sliderOurSet .editCarousel h3 {
  font-family: "Oswald";
  font-size: 2.2rem;
  color: #777777;
}

.ourService .sliderOurSet .editCarousel p {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #777777;
  line-clamp: 3;
  display: box;
  -moz-box-orient: vertical;
  height: 70px;
  line-height: 22px;
  overflow: hidden;
  padding: 5px;
}

.ourService .sliderOurSet .editCarousel a {
  color: #feb518;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
}

.section2 {
  background-color: #f9f9f9;
}

.section2 .boxSection2 {
  margin-top: 20px;
}

.section2 .textSection2 {
  padding: 200px 50px;
}

.section2 .textSection2 h4 {
  font-family: "Oswald";
  font-size: 3rem;
  color: #333333;
}

.section2 .textSection2 h3 {
  font-family: "Dancing Script";
  font-size: 3rem;
  color: #feb518;
}

.section2 .textSection2 p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #777777;
}

.section2 .textSection2 ul li a {
  font-size: 20px;
  padding: 8px 12px;
  color: #ffffff;
  background-color: #333333;
  margin-right: 10px;
}

.section2 .textSection2 ul li a:hover {
  background-color: #feb518;
}

html {
  font-size: 62.5%;
}

.section3 {
  height: 200px;
  background-color: #6e6e6e;
}

.section3 .section3Res {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 768px) {
  .section3 .section3Res {
    flex-direction: column;
    justify-content: center;
  }
}

.section3 .textSection3 {
  font-size: 3rem;
  color: #ffffff;
  font-family: "Roboto Slab";
}

@media (min-width: 320px) and (max-width: 768px) {
  .section3 .textSection3 {
    font-size: 2rem;
    text-align: center;
  }
}

.section3 .btnSection3 button {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Roboto Slab";
  background-color: #feb518;
  border: none;
  padding: 1.5rem 2rem;
}

.section3 .btnSection3 button:hover {
  transform: scale(1.05, 1.05);
  transition: 0.25s;
}

@media (min-width: 320px) and (max-width: 768px) {
  .section3 .btnSection3 {
    margin-top: 2rem;
  }
}

.footer {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  background-color: #151515;
}

.footer .titleFooter {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #d0d0d0;
  margin-bottom: 30px;
}

.footer .titleFooter h3 {
  position: relative;
  padding-bottom: 5px;
}

.footer .titleFooter h3:after {
  content: "";
  position: absolute;
  background-color: #feb518;
  width: 50px;
  height: 1px;
  top: 100%;
  left: 0;
}

.footer .col1Footer {
  color: #6e6e6e;
}

.footer .col1Footer .ndFooter {
  padding: 20px 0;
}

.footer .col1Footer .contactFooter .ndIconFooter {
  margin-left: 15px;
}

.footer .col2Footer .ndCol2Footer a {
  color: #6e6e6e;
  text-decoration: none;
  padding-bottom: 15px;
}

.footer .col2Footer .ndCol2Footer a:hover {
  color: #ffffff;
}

.footer .col3Footer .ndCol3Footer .boxCol3Footer {
  display: flex;
  margin-bottom: 15px;
}

.footer .col3Footer .ndCol3Footer .boxCol3Footer .ttCol3Footer {
  margin-left: 15px;
}

.footer .col3Footer .ndCol3Footer .boxCol3Footer .ttCol3Footer h3 {
  color: #d0d0d0;
  font-size: 1.65rem;
}

.footer .col3Footer .ndCol3Footer .boxCol3Footer .ttCol3Footer p {
  color: #777777;
}

.footer .col4Footer .ndCol4Footer p {
  color: #777777;
}

.footer .footerEnd {
  height: 90px;
  background-color: black;
  color: #777777;
}

.footer .footerStart {
  padding: 100px 0;
}

.changeIconBar .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.changeIconBar .bar2 {
  opacity: 0;
}

.changeIconBar .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  animation: moveDown 1s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@keyframes moveDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.topBar {
  height: 40px;
  background-color: #333333;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBar {
    z-index: 1;
    height: 100px;
  }
}

.topBarIcons {
  border-right: 1px solid #434343;
}

.topBarIcons ul li {
  padding-right: 30px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarIcons {
    display: none !important;
  }
}

.topBarPhone {
  padding-left: 2.5rem;
  border-right: 1px solid #434343;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarPhone {
    border-right: none;
  }
}

@media (max-width: 425px) {
  .topBarPhone {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarPhone {
    display: none !important;
  }
}

.topBaropen {
  padding-left: 2.5rem;
  border-right: 1px solid #434343;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBaropen {
    border-right: none;
  }
}

@media (max-width: 425px) {
  .topBaropen {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBaropen {
    display: none !important;
  }
}

.topBarTrans {
  padding-left: 2.5rem;
  border-right: 1px solid #434343;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarTrans {
    border-right: none;
  }
}

@media (max-width: 425px) {
  .topBarTrans {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.topBarTrans select {
  border: none;
  background: none;
  color: #ffffff;
  outline: none;
}

.topBarTrans select option {
  background: #333;
  color: #ffffff;
  outline: none;
}

.topBarTrans select option:hover {
  background-color: #777777 !important;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarTrans {
    display: none !important;
  }
}

.topBarBag {
  padding-left: 2.5rem;
  border-right: 1px solid #434343;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarBag {
    border-right: none;
  }
}

@media (max-width: 425px) {
  .topBarBag {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarBag {
    padding-left: 0;
    padding-right: 0;
  }
}

.topBarIconBar {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarIconBar {
    display: block;
  }
  .topBarIconBar .bar1 {
    width: 2.8rem;
    height: 0.4rem;
    background-color: #ffffff;
    margin: 7px 0;
    transition: 0.4s;
  }
  .topBarIconBar .bar2 {
    width: 2.8rem;
    height: 0.4rem;
    background-color: #ffffff;
    margin: 7px 0;
    transition: 0.4s;
  }
  .topBarIconBar .bar3 {
    width: 2.8rem;
    height: 0.4rem;
    background-color: #ffffff;
    margin: 7px 0;
    transition: 0.4s;
  }
}

.topBarLogo img {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .topBarLogo img {
    display: block;
  }
}

.menu {
  height: 100px;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  background-color: #ffffff;
}

.menu .mainMenu ul li {
  padding-right: 3rem;
}

.menu .mainMenu ul li a {
  color: #777777;
}

.menu .mainMenu ul li a:hover {
  text-decoration: none;
  color: #feb518;
}

.menu .mainMenu ul li .activeMenu {
  color: #feb518;
}

.menu .buttonReser button {
  padding: 1.8rem 4rem;
  background-color: #feb518;
  color: #333333;
  border: none;
}

.menu .buttonReser button:hover {
  transform: scale(1.05, 1.05);
  transition: 0.25s;
}

@media (min-width: 320px) and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.replaceMenu {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .replaceMenu {
    display: block;
    z-index: 5;
    position: absolute;
    padding: 30px;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #434343;
  }
  .replaceMenu ul li a {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 2rem;
    text-decoration: none;
  }
  .replaceMenu ul li a:hover {
    color: #feb518;
  }
  .replaceMenu ul li .activeMenu {
    color: #feb518;
  }
}

#sliderHome {
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/slider.png) center center no-repeat;
  background-size: cover;
  position: relative;
}

#sliderHome .sliderBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#sliderHome .sliderBox .sliderBoxText {
  width: 60%;
  text-align: center;
}

#sliderHome .sliderBox .sliderBoxText .imgSlider {
  max-width: 12.5rem;
  margin: 0 auto;
}

#sliderHome .sliderBox .sliderBoxText h1 {
  font-size: 5rem;
  font-family: "Oswald";
  font-weight: bold;
  color: #f9f9f9;
  white-space: nowrap;
}

@media (max-width: 425px) {
  #sliderHome .sliderBox .sliderBoxText h1 {
    font-size: 1.4rem;
    text-align: center;
  }
}

#sliderHome .sliderBox .sliderBoxText p {
  font-family: "Roboto Slab";
  color: #f9f9f9;
  font-size: 1.4rem;
  padding: 2rem 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 6rem;
  line-height: 2rem;
  overflow: hidden;
}

#sliderHome .sliderBox .sliderBoxText button {
  padding: 1.8rem 4rem;
  background-color: #feb518;
  color: #333333;
  font-family: "Roboto Slab";
  font-weight: bold;
  border: none;
}

#sliderHome .sliderBox .sliderBoxText button:hover {
  transform: scale(1.05, 1.05);
  transition: 0.25s;
}

.section1 {
  padding: 7rem 0;
}

.section1 .owl-item div {
  cursor: pointer;
  margin: 12% 6%;
  transition: margin 0.4s ease;
}

.section1 .owl-item:not(.center) div:hover {
  opacity: .75;
}

.section1 .center div {
  cursor: auto;
  margin: 0;
}

.section2 {
  color: #ffffff !important;
  padding: 5rem 0;
  background-color: #2b2b2b;
}

.section2 .contentSection2 {
  border: 7px solid #bababa;
  padding: 7rem;
}

@media (max-width: 425px) {
  .section2 .contentSection2 {
    padding: 2rem;
  }
}

.section2 .titleSection2 {
  padding-bottom: 2rem;
}

.section2 .titleSection2 .title1 {
  font-family: "Dancing Script";
  font-size: 4.5rem;
  color: #ffffff !important;
}

.section2 .titleSection2 .title1 span {
  color: #feb518;
}

.section2 .titleSection2 .title2 {
  font-family: "Roboto Slab";
  font-size: 1.8rem;
  color: #ffffff;
}

.section2 #owl-Section2 .owl-nav {
  font-size: 3rem;
  color: white;
  float: left;
  margin-top: 2rem;
}

.section2 #owl-Section2 .owl-nav button {
  outline: none;
  border: none;
  padding: 0.5rem 2rem !important;
  background: #414141;
}

.section2 #owl-Section2 .owl-nav button span {
  margin-right: 1rem;
}

.section2 .boxTitleSec2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.section2 .boxTitleSec2 p {
  font-family: "Oswald";
  font-size: 2.2rem;
  padding-bottom: 2rem;
  text-align: left;
}

.section2 .box1Section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.section2 .box1Section2 .textSec2 {
  padding-left: 1rem;
}

@media (max-width: 425px) {
  .section2 .box1Section2 .textSec2 span {
    display: none;
  }
}

.section2 .box1Section2 .imageSection2 {
  position: relative;
}

.section2 .box1Section2 .imageSection2 button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.8rem 1.2rem;
  background-color: #feb518;
  border: none;
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 1.1rem;
}

.section3Home {
  margin: 5rem 0;
}

.section3Home .titleSec3Home {
  padding: 5rem 0;
}

.section3Home .titleSec3Home h3 {
  font-family: "Dancing Script";
  color: #feb518;
  font-size: 3.8rem;
}

.section3Home .titleSec3Home p {
  font-size: 2.4rem;
  font-family: "Roboto Slab";
  font-weight: bold;
}

.section3Home .box1Sec3Home {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2rem 0;
  border-bottom: 2px dashed #d0d0d0;
}

@media (max-width: 425px) {
  .section3Home .box1Sec3Home {
    flex-direction: column;
  }
}

.section3Home .box1Sec3Home .imgSec3Home {
  position: relative;
  margin-left: 1rem;
}

.section3Home .box1Sec3Home .imgSec3Home .ovelaySec3Home {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #feb518;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 2.4rem;
  opacity: 0;
  transition: 1.25s;
}

.section3Home .box1Sec3Home .imgSec3Home:hover .ovelaySec3Home {
  opacity: 1;
}

@media (max-width: 425px) {
  .section3Home .box1Sec3Home .imgSec3Home {
    order: 1;
  }
}

.section3Home .box1Sec3Home #changeimgSec3Home {
  margin-right: 1rem;
}

.section3Home .box1Sec3Home #changeimgSec3Home .imgSec3Home {
  margin-left: 0;
}

.section3Home .box1Sec3Home .textSec3Home {
  padding: 2.5rem 0;
}

.section3Home .box1Sec3Home .textSec3Home h4 {
  font-family: "Oswald";
  font-size: 2rem;
  color: #333333;
}

.section3Home .box1Sec3Home .textSec3Home p {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #777777;
  padding: 1rem 0;
}

.section3Home .box1Sec3Home .textSec3Home button {
  border: none;
  background: none;
  font-family: "Roboto Slab";
  font-size: 1.5rem;
  color: #feb518;
}

.section3Home #changeBdSec3 {
  border: none;
}

.section4Home .boxSec4 {
  position: relative;
  overflow: hidden;
}

.section4Home .boxSec4 .OverBoxSec4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d0d0d0;
  background-image: linear-gradient(-180deg, #d0d0d0, #333333);
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.section4Home .boxSec4 .OverBoxSec4 h3 {
  padding: 1.5rem;
  color: #ffffff;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 2.4rem;
}

.section4Home .boxSec4:hover .OverBoxSec4 {
  opacity: 1;
}

.section5Home {
  padding: 5rem 0;
}

.section5Home .titleSec5Home h3 {
  font-size: 3.8rem;
  font-family: "Dancing Script";
  color: #feb518;
}

.section5Home .titleSec5Home p {
  color: #151515;
  font-family: "Roboto Slab";
  font-size: 2.4rem;
  font-weight: bold;
}

.section5Home .contentSec5Home .boxSec5Home {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.section5Home .contentSec5Home .boxSec5Home .overlaySec5Home {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #feb518;
  border-radius: 50%;
  border: 0.7rem solid #d0d0d0;
  transition: 1s;
  visibility: hidden;
  opacity: 0;
}

.section5Home .contentSec5Home .boxSec5Home .overlaySec5Home a {
  color: white;
  font-size: 2rem;
  padding: 0 1rem;
}

.section5Home .contentSec5Home .boxSec5Home:hover .overlaySec5Home {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.section5Home .contentSec5Home .textSec5 h4 {
  font-size: 2rem;
  font-family: #2b2b2b;
  font-family: "Oswald";
  font-weight: bold;
}

.section5Home .contentSec5Home .textSec5 p {
  font-size: 1.5rem;
  font-family: "Roboto Slab";
  color: #feb518;
}

.sec6Home .boxSec6Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.sec6Home .boxSec6Home .textSec6Home {
  width: 60%;
  margin: 0 auto;
}

.sec6Home .boxSec6Home .textSec6Home p {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #ffffff;
}

.sec6Home .boxSec6Home .textSec6Home h3 {
  font-family: "Dancing Script";
  font-size: 2.4rem;
  color: #feb518;
}

.sec6Home #owl-sec6 .owl-item img {
  width: auto;
  min-width: 100%;
}

.sec6Home #owl-sec6 .owl-dots {
  position: absolute;
  top: 65%;
  width: 100%;
}

@media (max-width: 425px) {
  .sec6Home #owl-sec6 .owl-dots {
    top: 80%;
  }
}

.section7Home {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.section7Home .titleSec7Home h3 {
  font-family: "Dancing Script";
  font-size: 4rem;
  color: #feb518;
}

.section7Home .titleSec7Home p {
  font-family: "Roboto Slab";
  font-size: 2.4rem;
  color: #333333;
  font-weight: bold;
}

.section7Home .contentSec7Home .textSec7Home {
  padding: 2rem 0;
}

.section7Home .contentSec7Home .textSec7Home h3 {
  font-size: 1.8rem;
  font-family: "Oswald";
  font-weight: bold;
  color: #333333;
}

.section7Home .contentSec7Home .textSec7Home p {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
}

.section7Home .contentSec7Home .textSec7Home p span {
  color: #feb518;
}

.section7Home .contentSec7Home .flexSec7Home {
  padding-top: 2rem;
  border-top: 2px dashed #6e6e6e;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  font-weight: bold;
}

.section7Home .contentSec7Home .flexSec7Home a {
  color: #333333;
  text-decoration: none;
}

.section7Home .contentSec7Home .flexSec7Home p span {
  color: #6e6e6e;
  font-weight: normal;
}

.footer {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  background-color: #151515;
}

.footer .titleFooter {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #d0d0d0;
  margin-bottom: 30px;
}

.footer .titleFooter h3 {
  position: relative;
  padding-bottom: 5px;
}

.footer .titleFooter h3:after {
  content: "";
  position: absolute;
  background-color: #feb518;
  width: 50px;
  height: 1px;
  top: 100%;
  left: 0;
}

.footer .col1Footer {
  color: #6e6e6e;
}

.footer .col1Footer .ndFooter {
  padding: 20px 0;
}

.footer .col1Footer .contactFooter .ndIconFooter {
  margin-left: 15px;
}

.footer .col2Footer .ndCol2Footer a {
  color: #6e6e6e;
  text-decoration: none;
  padding-bottom: 15px;
}

.footer .col2Footer .ndCol2Footer a:hover {
  color: #ffffff;
}

.footer .col3Footer .ndCol3Footer .boxCol3Footer {
  display: flex;
  margin-bottom: 15px;
}

.footer .col3Footer .ndCol3Footer .boxCol3Footer .ttCol3Footer {
  margin-left: 15px;
}

.footer .col3Footer .ndCol3Footer .boxCol3Footer .ttCol3Footer h3 {
  color: #d0d0d0;
  font-size: 1.65rem;
}

.footer .col3Footer .ndCol3Footer .boxCol3Footer .ttCol3Footer p {
  color: #777777;
}

.footer .col4Footer .ndCol4Footer p {
  color: #777777;
}

.footer .footerEnd {
  height: 90px;
  background-color: black;
  color: #777777;
}

.footer .footerStart {
  padding: 100px 0;
}

.section1Re .boxSec1Re {
  padding: 5rem 0;
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #d0d0d0;
}

.section1Re .boxSec1Re h3 {
  font-family: "Dancing Script";
  color: #feb518;
  font-size: 3.2rem;
}

.section1Re .boxSec1Re h4 {
  font-family: "Roboto Slab";
  color: #333333;
  font-weight: bold;
  font-size: 2.8rem;
}

.section1Re .boxSec1Re p {
  font-family: "Roboto Slab";
  color: #777777;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.section1Re .boxSec1Re p span {
  color: #feb518;
}

@media (max-width: 425px) {
  .section1Re .boxSec1Re {
    width: 100%;
  }
  .section1Re .boxSec1Re h3 {
    font-size: 2.5rem;
  }
  .section1Re .boxSec1Re h4 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .section1Re .boxSec1Re {
    width: 60%;
  }
}

.section2Re {
  padding: 7rem 0;
}

.section2Re h3 {
  font-family: "Roboto Slab";
  font-size: 2.2rem;
  font-weight: bold;
}

.form-inline #inputIcon i {
  position: absolute;
  right: 0;
  padding-right: 3rem;
  font-size: 2.5rem;
  color: #777777;
  cursor: pointer;
}

.form-inline #inputIcon input {
  padding: 2rem;
}

.form-inline #inputIcon input::placeholder {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
}

.form-inline #submitRe {
  margin: 0 auto;
}

.form-inline #submitRe button {
  padding: 1.5rem 3rem;
  background-color: #feb518;
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 1.2rem;
}

#section3Re {
  background-color: #2b2b2b;
}

.section1 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section1 .section1Text h4 {
  font-family: "Dancing Script";
  color: #feb518;
  font-size: 3rem;
}

.section1 .section1Text h3 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 35px;
}

.section1 .section1Text .section1TextP p {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #777777;
  margin-bottom: 2rem;
}

.section1 .section1Text .section1TextP h5 {
  font-family: "Oswald";
  font-size: 1.6rem;
  color: #333333;
  font-weight: bold;
}

.section1 .section1Text button {
  background-color: #feb518;
  color: #333333;
  padding: 2rem 2.5rem;
  border: none;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  margin-bottom: 35px;
}

.section1 .section1Text button:hover {
  transform: scale(1.05, 1.05);
  transition: 0.25s;
}

@media (max-width: 425px) {
  .section1 .section1Text h3 {
    font-size: 2rem;
  }
}

.section1 .sectionBox .sectionBox1 {
  height: 370px;
  width: 100%;
  background-color: #d0d0d0;
}

.sec1Menu {
  padding: 10rem 0;
}

.sec1Menu .titleSec1Menu {
  padding-bottom: 7rem;
}

.sec1Menu .titleSec1Menu h3 {
  font-size: 3.2rem;
  font-family: "Dancing Script";
  color: #feb518;
}

.sec1Menu .titleSec1Menu h4 {
  font-size: 2.8rem;
  font-family: "Roboto Slab";
  color: #333333;
  font-weight: bold;
}

@media (max-width: 425px) {
  .sec1Menu .titleSec1Menu h3 {
    font-size: 2.4rem;
  }
  .sec1Menu .titleSec1Menu h4 {
    font-size: 2rem;
  }
}

.sec1Menu .boxSec1Menu .box1Sec1Menu {
  position: relative;
}

.sec1Menu .boxSec1Menu .box1Sec1Menu button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem 3rem;
  background-color: #feb518;
  border: none;
  outline: none;
  font-family: "Roboto Slab";
  font-size: 1.2rem;
  font-weight: bold;
}

.sec1Menu .boxSec1Menu .box1Sec1Menu .flexbox1Sec1 h5 {
  font-family: "Oswald";
  font-size: 1.7rem;
  font-weight: bold;
  padding: 2rem 0 0.5rem 0;
}

.sec1Menu .boxSec1Menu .box1Sec1Menu p {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #777777;
}

.sec1Menu .boxSec1Menu .box1Sec1Menu:hover h5 {
  color: #feb518;
}

.sec1Menu .btnSec1Menu button {
  padding: 1.5rem 2.5rem;
  background-color: #feb518;
  border: none;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  font-weight: bold;
}

.isoFilter {
  padding-bottom: 5rem;
}

.isoFilter .grid .titleItemIso {
  padding: 3rem;
}

.isoFilter .grid .titleItemIso h3 {
  font-family: "Dancing Script";
  font-size: 3.2rem;
  color: #feb518;
  padding-top: 1rem;
  font-weight: normal;
}

.isoFilter .grid .titleItemIso p {
  font-family: "Roboto Slab";
  font-size: 2.8rem;
  color: #f9f9f9;
}

.isoFilter .grid .titleItemIso .ItemIso1 {
  font-family: "Roboto Slab";
  font-size: 2.8rem;
  color: #333333;
  font-weight: bold;
}

.isoFilter .grid h3 {
  font-family: "Oswald";
  font-size: 1.5rem;
  color: #333333;
  font-weight: bold;
}

.isoFilter .grid h3 p {
  font-family: "Oswald";
  font-size: 1.5rem;
  color: #333333;
  font-weight: bold;
  padding-left: 1.5rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .isoFilter .grid h3 {
    white-space: wrap;
  }
  .isoFilter .grid h3 span {
    display: none;
  }
}

.isoFilter .grid p {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #777777;
}

.isoFilter .bgGrid {
  padding: 3rem 0;
  background-color: #333333;
  margin-bottom: 3rem;
}

.isoFilter .pdGrid {
  margin: 5rem 0;
}

.gallery .titleGallery {
  padding-top: 10rem;
}

.gallery .titleGallery h3 {
  font-size: 3.2rem;
  font-family: "Dancing Script";
  color: #feb518;
}

.gallery .titleGallery p {
  font-size: 2.8rem;
  font-family: "Roboto Slab";
  color: #333333;
  font-weight: bold;
}

.gallery .boxGallery {
  padding: 5rem 0;
}

.gallery .boxGallery .imgGallery {
  position: relative;
  overflow: hidden;
}

.gallery .boxGallery .imgGallery .overlayGallery {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d0d0d0;
  background-image: linear-gradient(-180deg, #d0d0d0, #333333);
  top: 0;
  left: 0;
  bottom: 100%;
  opacity: 0;
  transition: 0.5s;
}

.gallery .boxGallery .imgGallery .overlayGallery h3 {
  font-family: "Oswald";
  font-size: 2.4rem;
  color: #feb518;
  padding: 2rem;
}

.gallery .boxGallery .imgGallery:hover .overlayGallery {
  opacity: 1;
}

.pagiGallery {
  padding-bottom: 7rem;
}

.pagiGallery ul li {
  padding: 1.2rem 2rem;
}

.pagiGallery ul li a {
  color: #333333;
  font-size: 1.5rem;
  font-family: "Roboto Slab";
}

.pagiGallery ul li:hover {
  background-color: #feb518;
  border-radius: 50%;
}

.pagiGallery ul li:hover a {
  color: #ffffff;
  text-transform: none;
}

.pagiGallery ul .active {
  background-color: #feb518;
  border-radius: 50%;
}

.pagiGallery ul .active a {
  color: #ffffff;
}

.pagiGallery ul .nextPagi {
  padding: 1.5rem 3rem;
  border: 1px solid #d0d0d0;
  border-radius: 3rem;
}

.pagiGallery ul .nextPagi:hover {
  border-radius: 3rem;
}

.pagiGallery ul .nextPagi:hover a {
  text-decoration: none;
}

.fancybox-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .fancybox-container {
    display: none;
  }
}

.fancybox-container .fancybox-inner {
  right: 0 !important;
}

.fancybox-container .fancybox-inner .fancybox-stage {
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
}

.fancybox-container .fancybox-inner .fancybox-caption {
  bottom: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.fancybox-container .fancybox-inner .fancybox-caption .fancybox-caption__body {
  padding: 20px;
  background: orange;
  width: 371px;
  text-align: center;
}

.fancybox-container .fancybox-inner .fancybox-navigation .fancybox-button {
  background: transparent !important;
  opacity: 1;
}

.fancybox-container .fancybox-inner .fancybox-navigation .fancybox-button::before, .fancybox-container .fancybox-inner .fancybox-navigation .fancybox-button::after {
  background-color: #000;
  width: 20px;
}

.fancybox-container .fancybox-inner .fancybox-navigation .fancybox-button div {
  background: #6d6d6dbf;
}

.fancybox-container .fancybox-inner .fancybox-navigation .fancybox-button--arrow_left {
  left: 38%;
}

.fancybox-container .fancybox-inner .fancybox-navigation .fancybox-button--arrow_right {
  right: 38%;
}

.fancybox-container .fancybox-inner .fancybox-caption {
  background: none;
}

.fancybox-container .fancybox-inner .fancybox-toolbar {
  width: 100%;
  left: 60%;
  top: 11%;
}

.fancybox-container .fancybox-thumbs {
  top: 44px;
  bottom: 44px;
  width: auto;
  background: transparent;
  overflow-y: auto;
  right: 20%;
}

.fancybox-container .fancybox-thumbs ul li {
  max-width: 100%;
}

.fancybox-container .fancybox-thumbs .fancybox-thumbs__list {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.fancybox-container .fancybox-thumbs .fancybox-thumbs__list a {
  max-width: calc(100% - 4px);
}

.fancybox-container .fancybox-thumbs .fancybox-thumbs__list a::before {
  border: 3px solid #c0d01936;
}

.blog h3 {
  font-family: "Dancing Script";
  font-size: 3.2rem;
  color: #feb518;
}

.blog h4 {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 2.8rem;
  color: #333333;
}

.blog h5 {
  font-family: "Oswald";
  font-size: 1.8rem;
  color: #333333;
  padding: 1rem 0;
}

.blog h6 {
  font-family: "Oswald";
  font-size: 1.5rem;
  color: #333333;
}

.blog p {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #777777;
  padding: 0.5rem 0 1.5rem 0;
}

.blog p span {
  color: #feb518;
}

.blog .titleBlog {
  padding: 10rem 0 6rem 0;
}

.blog .boxBlog .box1Blog .text1Blog {
  padding: 2rem 0;
}

.blog .boxBlog .box1Blog .text1Blog .endBlog {
  border-top: 1px dotted #d0d0d0;
  padding: 1rem 0;
}

.blog .boxBlog .box1Blog .text1Blog .endBlog p {
  font-weight: bold;
}

.blog .boxBlog .box1Blog .text1Blog .endBlog p a {
  color: #777777;
}

.blog .boxBlog .box1Blog .text1Blog .endBlog p a:hover {
  text-decoration: none;
}

.blog .boxBlog .box1Blog .text1Blog ul {
  list-style: none;
}

.blog .boxBlog .box1Blog .text1Blog ul li {
  color: #feb518;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #777777;
}

.blog .boxBlog .box1Blog .text1Blog ul li::before {
  content: "\25AA";
  color: #feb518;
  float: left;
  width: 1em;
  font-size: 25px;
}

.blog .boxBlog .box2Blog .searchBlog {
  position: relative;
  margin-bottom: 3rem;
}

.blog .boxBlog .box2Blog .searchBlog input {
  width: 100%;
  padding: 1.5rem 2rem;
  border: 1px solid #aaa;
  font-size: 1.4rem;
}

.blog .boxBlog .box2Blog .searchBlog input::placeholder {
  font-family: "Roboto Slab";
  font-size: 1.3rem;
  color: #aaaaaa;
}

.blog .boxBlog .box2Blog .searchBlog .fa-search {
  position: absolute;
  font-size: 2rem;
  top: 1.5rem;
  right: 1rem;
  color: #777777;
}

.blog .boxBlog .box2Blog .categoriesBlog {
  margin-bottom: 3rem;
}

.blog .boxBlog .box2Blog .categoriesBlog ul {
  list-style: none;
}

.blog .boxBlog .box2Blog .categoriesBlog ul li {
  padding: 1.5rem 0;
}

.blog .boxBlog .box2Blog .categoriesBlog ul li::before {
  content: "\2022";
  color: #777777;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
}

.blog .boxBlog .box2Blog .categoriesBlog ul li a {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  text-decoration: none;
  color: #777777;
}

.blog .boxBlog .box2Blog .filterBlog h5 {
  padding: 2rem 0;
}

.blog .boxBlog .box2Blog .topRateBlog h5 {
  padding: 2rem 0;
}

.blog .boxBlog .box2Blog .topRateBlog .divTopRate h6 {
  font-family: "Oswald";
  font-size: 1.6rem;
}

.blog .boxBlog .box2Blog .topRateBlog .divTopRate p {
  font-family: "Roboto Slab";
  font-size: 1.3rem;
  color: #333333;
  font-weight: bold;
}

.blog .boxBlog .box2Blog .topRateBlog .divTopRate p span {
  margin-left: 2rem;
  color: #aaaaaa;
  text-decoration: line-through #333333;
  font-weight: bold;
}

.blog .boxBlog .commentBlog h6 {
  margin: 0;
}

.blog .boxBlog .commentBlog p {
  margin: 0;
  padding: 0;
  padding-right: 2rem;
}

.blog .boxBlog .commentBlog .text1Blog .box1CmtBlog {
  padding: 2rem 0;
}

@media (max-width: 425px) {
  .blog .boxBlog .commentBlog .text1Blog .box1CmtBlog {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blog .boxBlog .commentBlog .text1Blog .box1CmtBlog img {
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin: 2rem 0;
  }
  .blog .boxBlog .commentBlog .text1Blog .box1CmtBlog .textBox1CmtBlog {
    margin-left: 0 !important;
    padding: 0;
  }
}

.blog .boxBlog .commentBlog .text1Blog .box1CmtBlog .textBox1CmtBlog p {
  padding: 2rem 0;
  border-bottom: 2px solid #f3f3f3;
}

.blog .boxBlog .commentBlog .text1Blog .box1CmtBlog .textBox1CmtBlog .textRightCmt p {
  font-size: 1.2rem;
  border: none;
  padding: 0;
}

.blog .boxBlog .commentBlog .text1Blog .box1CmtBlog .textBox1CmtBlog .textRightCmt a {
  font-family: "Roboto Slab";
  font-size: 1.2rem;
  color: #151515;
}

.blog .boxBlog .commentBlog .text1Blog .box1CmtBlog .textBox1CmtBlog .textRightCmt a:hover {
  color: #feb518;
}

.blog .boxBlog .formBlog {
  padding-bottom: 10rem;
}

.blog .boxBlog .formBlog form .ui-shadow-inset {
  box-shadow: none;
}

.blog .boxBlog .formBlog form input {
  width: 100%;
  padding: 12px;
  border: none;
  background: none;
  border-radius: 4px;
  font-size: 1.4rem;
}

.blog .boxBlog .formBlog form label {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: #777777;
}

.blog .boxBlog .formBlog form label span {
  color: #feb518;
}

.blog .boxBlog .formBlog form textarea {
  width: 100%;
  height: 128px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.4rem;
}

.blog .boxBlog .formBlog form input[type=submit] {
  background: #feb518;
  border: none;
  font-family: "Roboto Slab";
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.ui-mobile-viewport {
  line-height: 2.5rem;
}

.ui-mobile-viewport .ui-overlay-a, .ui-mobile-viewport .ui-page-theme-a, .ui-mobile-viewport .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none;
}

.ui-mobile-viewport .ui-overlay-a a, .ui-mobile-viewport .ui-page-theme-a a, .ui-mobile-viewport .ui-page-theme-a .ui-panel-wrapper a {
  font-weight: normal;
}

.ui-mobile-viewport .ui-overlay-a .ui-btn, .ui-mobile-viewport .ui-page-theme-a .ui-btn, .ui-mobile-viewport .ui-page-theme-a .ui-panel-wrapper .ui-btn {
  text-shadow: none;
}

.ui-mobile-viewport .ui-overlay-a .ui-bar-inherit, .ui-mobile-viewport .ui-page-theme-a .ui-bar-inherit, .ui-mobile-viewport .ui-page-theme-a .ui-panel-wrapper .ui-bar-inherit {
  text-shadow: none;
  background-color: none;
}

.ui-mobile-viewport .ui-overlay-a .ui-body-inherit, .ui-mobile-viewport .ui-page-theme-a .ui-body-inherit, .ui-mobile-viewport .ui-page-theme-a .ui-panel-wrapper .ui-body-inherit {
  background-color: none;
}

.ui-mobile-viewport .ui-rangeslider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ui-mobile-viewport .ui-rangeslider .ui-rangeslider-sliders {
  margin: 0;
}

.ui-mobile-viewport .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track {
  width: 100% !important;
  order: 1;
}

.ui-mobile-viewport .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track .ui-btn {
  border-radius: 50%;
}

.ui-mobile-viewport .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track .ui-btn-active {
  background-color: black;
}

.ui-mobile-viewport .ui-rangeslider input.ui-slider-input {
  order: 1;
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  padding-top: 1rem;
}

.ui-mobile-viewport .ui-rangeslider #range-1a {
  order: 3;
  float: left;
  width: 50%;
  position: absolute;
  left: 33%;
  text-align: end;
  top: 50%;
  z-index: 5;
}

.ui-mobile-viewport .ui-rangeslider #range-1b {
  order: 4;
  float: right;
  text-align: end;
  width: 50%;
  right: 0;
  position: absolute;
  top: 50%;
}

.ui-mobile-viewport .ui-rangeslider #buttonFilter {
  order: 2;
  width: 100px;
  background: #feb518;
  color: white;
  outline: none;
}

@media (max-width: 425px) {
  #shop .boxShop {
    flex-direction: column;
  }
  #shop .boxShop p {
    order: 1;
  }
  #shop .boxShop .selectShop {
    width: 100%;
    margin-bottom: 2rem;
  }
  #shop .boxShop .selectShop .ui-btn {
    width: 100% !important;
  }
}

#shop .boxShop p {
  margin: 0;
  padding: 0;
}

#shop .boxShop .selectShop .ui-select .ui-btn {
  text-shadow: none;
  display: flex;
  width: 20em;
  padding: 2rem;
  background: none;
  outline: none;
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  font-weight: normal;
  overflow: hidden;
  border-radius: 0.25em;
}

#shop .boxShop .selectShop .ui-select .ui-btn select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  flex: 1;
  cursor: pointer;
}

#shop .boxShop .selectShop .ui-select .ui-btn select::-ms-expand {
  display: none;
}

#shop .boxShop .selectShop .ui-select .ui-btn::after {
  content: "\25BC";
  position: absolute;
  text-align: center;
  height: 100%;
  bottom: 0;
  right: 0;
  padding: 0 2rem;
  margin-right: 1rem;
  color: #777777;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

#shop .boxShop .selectShop .ui-select .ui-btn:hover::after {
  color: #feb518;
}

#shop .boxShop .selectShop .ui-select .ui-btn-icon-right::after {
  background: none;
}

#shop .box1Shop {
  padding: 5rem 0;
}

#shop .box1Shop h5 {
  font-size: 1.5rem;
  color: #333333;
  font-weight: bold;
  margin: 0;
}

#shop .box1Shop p {
  margin: 0;
  padding: 0;
}

#shop .box1Shop .childBox1Shop .imgShop {
  position: relative;
}

#shop .box1Shop .childBox1Shop .imgShop .btnShop {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  width: 60%;
  background: #feb518;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  transition: 0.75s;
}

#shop .box1Shop .childBox1Shop .imgShop .btnShop p {
  color: #ffffff;
  margin-left: 1rem;
}

#shop .box1Shop .childBox1Shop .imgShop:hover .btnShop {
  opacity: 1;
}

.exzoom .exzoom_img_box .exzoom_preview {
  z-index: 2 !important;
}

.exzoom .exzoom_nav {
  left: 0;
}

.exzoom .exzoom_nav .exzoom_nav_inner span {
  margin-left: 0 !important;
}

.singleProduct {
  padding-top: 10rem;
}

.singleProduct h5 {
  font-size: 2rem;
  font-family: "Oswald";
  color: #333333;
}

.singleProduct p {
  font-family: "Roboto Slab";
  color: #777777;
  font-size: 1.4rem;
}

.singleProduct h3 {
  color: #feb518;
  font-family: "Roboto Slab";
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
}

.singleProduct span {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  color: #acacac;
  padding: 0 0.5rem;
}

.singleProduct span a {
  color: #acacac !important;
  text-decoration: none;
}

.singleProduct .reviewShop {
  padding: 1rem 0;
}

.singleProduct .price {
  padding: 1.5rem 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.singleProduct .addCart {
  padding: 2rem 0;
}

.singleProduct .addCart input {
  width: 5rem;
  padding: 1.5rem;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #ececec;
  margin-left: 2rem;
}

.singleProduct .addCart input::placeholder {
  color: #555555;
}

.singleProduct .addCart button {
  padding: 1.8rem 3rem;
  background-color: #feb518;
  color: #ffffff;
  border: none;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  margin-left: 2rem;
}

.singleProduct .addCart h6 {
  font-family: "Roboto Slab";
  font-size: 1.4rem;
}

.singleProduct .addCart img {
  border: 1px solid #ececec;
  width: 5rem;
  padding: 1.5rem;
  margin-left: 2rem;
}

.singleProduct .tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.singleProduct .tabs li {
  font-family: "Roboto Slab";
  background: none;
  color: #333333;
  font-size: 1.4rem;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

.singleProduct .tabs .current {
  border-right: 1px solid #ececec;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  color: #222;
}

.singleProduct .tab-content {
  display: none;
  font-family: "Roboto Slab";
  color: #777777;
  font-size: 1.4rem;
  padding: 2rem;
  border: 1px solid #ececec;
}

.singleProduct .current {
  display: inherit;
}

.imgShop {
  position: relative;
}

.imgShop .btnShop {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  background: #feb518;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  transition: 0.75s;
}

.imgShop .btnShop p {
  color: #ffffff !important;
  margin-left: 1rem;
  margin-bottom: 0;
}

.imgShop:hover .btnShop {
  opacity: 1;
}

.section1Contact {
  margin-top: 7rem;
}

.section1Contact h3 {
  color: #feb518;
  font-family: "Dancing Script";
  font-size: 3.2rem;
}

.section1Contact h4 {
  color: #333333;
  font-family: "Roboto Slab";
  font-size: 2.4rem;
  font-weight: bold;
}

.section1Contact form {
  margin-top: 5rem;
}

.section1Contact form .form-group, .section1Contact form #submitRe {
  margin: 0;
  padding: 0;
}

.section1Contact form .form-group textarea, .section1Contact form #submitRe textarea {
  font-family: "Roboto Slab";
  font-size: 1.3rem;
  color: #777777;
  padding: 2rem;
}

.section1Contact form #submitRe button {
  background-color: #333333;
  color: #ffffff;
}

.section1Contact form #submitRe button:hover {
  background-color: #feb518;
}

.sec2Contact {
  margin: 7rem 0;
}

.sec2Contact p {
  color: #333333;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
}

.sec2Contact .titlesec2Content {
  margin-bottom: 7rem;
}

.sec2Contact .titlesec2Content h3 {
  color: #feb518;
  font-family: "Dancing Script";
  font-size: 3.2rem;
}

.sec2Contact .titlesec2Content h4 {
  color: #333333;
  font-family: "Roboto Slab";
  font-size: 2.4rem;
  font-weight: bold;
}

.sec2Contact .contactFooter {
  margin-top: 3rem;
}

.sec2Contact .contactFooter .ndIconFooter {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 1.3rem;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1155px !important;
  }
}

* {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */