@mixin ndFooter($name,$padding) {
    .#{$name}{
        padding: $padding 0;        
    }
}
@mixin contactFooter($name,$name1,$margin) {
    .#{$name}{
        .#{$name1}{
            margin-left: $margin;
            // font-family: $Roboto-Slab;
        }
    }
}
@mixin col1Footer($name) {
    .#{$name}{
        color: $colorGrayLight;
        @include ndFooter('ndFooter',20px);
        @include contactFooter('contactFooter','ndIconFooter',15px);
    }
}
@mixin SameTitleFooter() {
    text-transform: uppercase;
    font-size: $fsText;
    color: $colorLight;
    margin-bottom:30px;
}
@mixin titleFooter($name,$pdBottom) {
    .#{$name}{
        @include SameTitleFooter();
        h3{
            position: relative;
            padding-bottom: $pdBottom;
            &:after{
                content: "";
                position: absolute;
                background-color: $colorYellow;
                width: 50px;
                height: 1px;
                top: 100%;
                left: 0;
                // z-index: 99;
            }
        }
    }
}
@mixin ndCol2Footer($name,$pdBottom) {
    .#{$name}{
        a{
            color: $colorGrayLight;
            text-decoration: none;
            padding-bottom: $pdBottom;
            &:hover{
                color: $colorWhite;
            }
        }
        
    }
}
@mixin col2Footer($name) {
    .#{$name}{
        
        @include ndCol2Footer('ndCol2Footer',15px);
    }
}

@mixin ttCol3Footer($name,$mgLeft){
    .#{$name}{
        margin-left: $mgLeft;
        h3{
            color: $colorLight;
            font-size: 1.65rem;
        }
        p{
            color: $colorLightGray;
        }
    }
}
@mixin ndCol3Footer($name,$name1,$mgBottom) {
    .#{$name}{
        .#{$name1}{
            display: flex;
            margin-bottom: $mgBottom;
            @include ttCol3Footer('ttCol3Footer',15px);
        }
    }
}
@mixin col3Footer($name) {
    .#{$name}{
        @include ndCol3Footer('ndCol3Footer','boxCol3Footer',15px);
    }
}
@mixin col4Footer($name,$name1) {
    .#{$name}{
        .#{$name1}{
            p{
                color: $colorLightGray;
            }
            
        }
    }
}
@mixin footerEnd($name,$height) {
    .#{$name}{
        height: $height;
        background-color: black;
        color: $colorLightGray;
    }
}
@mixin footerStart($name,$padding) {
    .#{$name}{
        padding: $padding 0;
    }
}
@mixin footer($name,$padding) {
    .#{$name}{
        font-family: $Roboto-Slab;
        font-size: $fsText;
        // padding: $padding 0;
        background-color: $colorBlack;
        @include titleFooter('titleFooter',5px);
        @include col1Footer('col1Footer');
        @include col2Footer('col2Footer');
        @include col3Footer('col3Footer');
        @include col4Footer('col4Footer','ndCol4Footer');
        
        @include footerEnd('footerEnd',90px);
        @include footerStart('footerStart',100px);
    }
}
@include footer('footer',100px);