@import '../Layout/variable.scss';
@import '../Mobile/responsive.scss';


@mixin logo {   
}
@mixin mainMenu($name,$name1) {
    .#{$name}{
        ul{
            li{
                padding-right: $paddingMenu;
                a{
                    color: $colorLightGray;
                    &:hover{
                        text-decoration: none;
                        color: $colorYellow;
                    }
                }
                .#{$name1}{
                    color: $colorYellow;
                }
            }
        }
    }
}
@mixin buttonReser($name)  {
    .#{$name}{
        button{
            padding:$pdBtnTopBottom $pdBtnRightLeft;
            background-color: $colorYellow;
            color: $colorGray;
            border: none;
            &:hover{
                transform: scale(1.05, 1.05);
                transition: 0.25s;
            }
        }
    }
}
@mixin menu($name,$height) {
    .#{$name}{
        height: 100px;
        font-family: $Roboto-Slab;
        font-size: $fsText;
        background-color:  $colorWhite;
        @include logo();
        @include mainMenu('mainMenu','activeMenu');
        @include buttonReser('buttonReser');
        @include resTotal{
            display: none;
        }
    }
}
@include menu('menu',100px);

// replace Menu
@mixin replaceMenu($name,$padding,$name1) {   
    .#{$name}{
        display: none;
        @include resTotal{
        display: block;
        z-index: 5;
        position: absolute;
        padding:$padding;
        top:100px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $colorBlackGray;
        // animation: 1.5s anmReMenu;
        ul{
            // display: none;
            li{
                a{
                    color: $colorWhite;
                    font-family: $Roboto-Slab;
                    font-size: $fsMenuPlace;
                    text-decoration: none;
                    &:hover{
                        color: $colorYellow;
                    }
                }
                .#{$name1}{
                    color: $colorYellow;
                }
                }
            }
        }
    }
}
@include replaceMenu('replaceMenu',30px,'activeMenu');


