
@mixin sliderHome($name,$fontSize) {
    ##{$name}{
        width: 100%;
        height: 100vh;
        background: url(../../assets/images/slider.png) center center no-repeat;
        background-size: cover;
        position: relative;
            
           .sliderBox{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                .sliderBoxText{
                    width: 60%;
                    text-align: center;
                    .imgSlider{
                        max-width: 12.5rem;
                        margin: 0 auto;                      
                    }
                    h1{
                        font-size: $fontSize;
                        @include mobile{
                            font-size: 1.4rem;
                            text-align: center;
                        }
                        font-family: $Oswald;
                        font-weight: bold;
                        color: $colorGWhite;
                        white-space: nowrap;
                    }
                    p{
                        font-family: "Roboto Slab";
                        color: #f9f9f9;
                        font-size: 1.4rem;
                        padding: 2rem 0;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        height: 6rem;
                        line-height: 2rem;
                        overflow: hidden;
                    }
                    button{
                        padding:$pdBtnTopBottom $pdBtnRightLeft;
                        background-color: $colorYellow;
                        color: $colorGray;
                        font-family: $Roboto-Slab;
                        font-weight: bold;
                        border: none;
                        &:hover{
                            transform: scale(1.05, 1.05);
                            transition: 0.25s;
                        }
                    }
                }
           }
        // }
    }
    
}
@include sliderHome('sliderHome',5rem);