@import '../Layout/variable.scss';
@import '../Mobile/responsive.scss';
ul{
    list-style-type: none;
    margin: 0;
}
a{
    text-decoration: none;
}
//phan giong nhau giua cac class
    @mixin sameTopBar(){
        padding-left: $paddingtopBar;
        // padding-right: $paddingtopBar;
        border-right: 1px solid $colorBlackGray;
        
        @include resTotal{
            border-right: none;
        }
        @include mobile{
            padding-left: $pdtopBarRes;
            padding-right: $pdtopBarRes;
        }
    }
//
@mixin topBarIcons($name) {
    .#{$name}{
        border-right: 1px solid $colorBlackGray;
        ul{
            li{
                padding-right: 30px;
            }
        }
        @include resTotal{
            display: none !important;
        }
    }
}
@mixin topBarPhone($name) {
    .#{$name}{
        @include sameTopBar();
        @include resTotal{
            display: none !important;
        }
    }
}
@mixin topBaropen($name) {
    .#{$name}{
        @include sameTopBar();
        @include resTotal{
            display: none !important;
        }
    }
}
@mixin topBarTrans($name) {
    .#{$name}{
        @include sameTopBar();
        select{
            border: none;
            background: none;
            color: $colorWhite;
            outline: none;
            option{
                background: #333;
                color: $colorWhite;
                $colorGray: none;
                outline: none;
                &:hover{
                    background-color: $colorLightGray !important;
                }
            }
        }
        @include resTotal{
            display: none !important;
        }
    }
}
@mixin topBarBag($name) {
    .#{$name}{
        @include sameTopBar();
        @include resTotal{

            padding-left: 0;
            padding-right: 0;
        }
    } 
}

//phan giong nhau giua cac class
@mixin sameIconBar(){
    width: 2.8rem;
    height: 0.4rem;
    background-color: $colorWhite;
    margin: 7px 0;
    transition: 0.4s;
}
//phan giong nhau giua cac class


@mixin topBarIconBar($name,$name1,$name2,$name3) {
    .#{$name}{
        display: none;
        @include resTotal{
            display: block;
            .#{$name1}{
                @include sameIconBar();
            }
            .#{$name2}{
                @include sameIconBar();
            }
            .#{$name3}{
                @include sameIconBar();
            }
        }
    }
}
@mixin topBarLogo($name) {
    .#{$name}{
        img{
            display: none ;
            @include resTotal{
                display: block;
            }
        }
    }
}
@mixin topBar($name,$height,$heightRes) {
    .#{$name}{
        height: $height;
        background-color: $colorGray;
        color: $colorWhite;
        font-family: $Roboto-Slab;
        font-size: $fsText;
        @include resTotal{
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            z-index: 1;
            height: $heightRes;
        }
    }
    @include topBarIcons('topBarIcons');
    @include topBarPhone('topBarPhone');
    @include topBaropen('topBaropen');
    @include topBarTrans('topBarTrans');
    @include topBarBag('topBarBag');
    // phanthem
    @include topBarIconBar('topBarIconBar','bar1','bar2','bar3');
    @include topBarLogo('topBarLogo');
    // phanthem
}
@include topBar('topBar',40px,100px);