
//Home
//==color

$colorYellow: #feb518;
$colorGray:#333333;
$colorLightGray:#777777;
$colorWhite: #ffffff;
$colorBlackGray:#434343;
$colorGrayLight:#6e6e6e;
$colorLight:#d0d0d0;
$colorGWhite:#f9f9f9;
$colorBlack:#151515;
$colordark:#2b2b2b;
$colorWhitee: #aaaaaa;

//=======================================================
//==font-size
$fsText:1.4rem;
$fsMenuPlace: 2rem;
$fsDanscript:3.2rem;
//====banner
$fsBannerDan:3.2rem;
$fsBannerRobo:2.8rem;
//====section1
$fsSec1Oswa:2.6rem;
$fsSec1Dan:3rem;
$fsSec3Ro: 3rem;
// =======our Services
$fsOurDan:4rem;
$fsOurRobo: 2.4em;
$fsOurOswa: 2.2rem;
//=======================================================
//==khoang cach
$paddingtopBar: 2.5rem;
$pdtopBarRes: 1rem; 
$paddingMenu: 3rem;
$pdBtnTopBottom:1.8rem;
$pdBtnRightLeft:4rem;
$pdChung:2rem;
$mgChung:2rem;
//=======================================================
//==font-family
$DancingScript-slab: 'Dancing Script';
$Oswald: 'Oswald'; 
$Roboto-Slab: 'Roboto Slab';   

