*{
    padding:0;
    margin:0;
}
@keyframes anmAddMenu2{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
.addMenu2{
    box-shadow: -5px 20px 10px -17px grey;
    position: fixed;
    z-index: 1;
    background: white;
    width: 100% !important;
    top: 0;
    left: 0;
    animation: 1s anmAddMenu2;
    padding: 0px 77px;
}
.iconSeach {
    position: absolute;
    top: 20%;
    right: 0;
    padding-right: 15px;
    color: #33333369;
    font-size: 18px;
}

.inputSearch {
    position: relative;
}

.mainHeader {
    padding-top:20px;
    padding-bottom: 20px;
}
/* Content */
.BoxHinhAnh{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}
.hinhAnh {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background: url('../../assets/images/rectangle-3@2x.jpg') center center no-repeat;
    background-size: cover;
}
.BoxHinhAnh:hover .hinhAnh{
    transform: scale(1.2);
}

.timKiem {margin-bottom: 20px;}

.chuDe {
    display: flex;
    flex-direction: column;
}
.chuDe a {
    position: relative;
    display: block;
    padding: 13px;
    color: #3333337d;
    background: white;
    border-bottom: 2px solid #3333331f;
}
.chuDe a:hover::before{
    content: "";
    position: absolute;
    border-left: 3px solid green;
    width: 3px;
    background: red;
    height: 100%;
    left: 0;
    top: 0;
}

.timKiem input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: none;
    color: black;
    border-top: 2px solid #99999973;
    border-bottom: 2px solid #99999973;
}
.phanHoi p {
    margin-right: 20px;
}

.phanHoi {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    color: #3333337a;
}

p.gioiHanChu {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 85px;
    line-height: 30px;
    overflow: hidden;
}
.contentBlog {

padding: 20px;

margin-bottom: 20px;

background: #ffffff9c;
}

.blogCheese select {
    border: none;
    background: none;
    font-weight: 700;
}

.blogCheese {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.blogCheese h1 {
    font-size: 29px;
    font-weight: bold;
    color: #00000024;
    margin: 0;
}

.blogCheese p {
    margin: 0;
}
/* Content */

#infoUser ul li a {
    display: block;
    padding: 15px 12px;
    color: #0a0a0a;
}
#infoUser ul li a:hover {
    background: #272727b3;
    color: white;
}
div#infoUser {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    background: lightgray;
    z-index: 1;
}
div.content {
    background: #7272721a;
    width: 100%;
    height: auto;
}
/* Form */
@keyframes anmForm{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes anmNhaCungCap{
    from{
        transform: translateY(10%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes anmkhachHang{
    from{
        transform: translateY(10%);
    }
    to{
        transform: translateY(0);
    }
}

.formDemo {
    width: 80%;
    margin: 0 auto;
}

.formDangNhap {
    width: 50%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    margin-top: 20px;
    height: 100%;
    animation: 1s anmForm;
}

#bgDangNhap {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0000001a;
    display: none;
}
a:hover{
    text-decoration: none;
}
.matKhauCheese {
    display: flex;
    justify-content: space-between;
}
.facebook{
    border: 2px solid #030485 !important;
    color: #030485;
    background: none;
    font-weight: bold;
}
.submitDangNhap{
    border: none !important;
    color: #999;
    font-weight: 900;
}
input[type="email"],input[type="password"],input[type="submit"]{
    padding: 12px 20px;
    margin-bottom: 20px;
    border: none;
    border: 1px solid #999;
    border-radius: 5px;
}
label{
    color: rgb(46, 46, 46);
    font-weight: bold;
}
form.form {
    display: flex;
    flex-direction: column;
}
.formTieuDe h2 {
    font-size: 22px;
    font-weight: bold;
}
.tieuDe2 p {
    padding: 30px;
    margin: 0;
    color:#2c2c2c52;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
.addBorder{
    border-bottom: 3px solid red;
}

.tieuDe2 {
    display: flex;
}

.formTieuDe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addBlock{
    display: block !important;
}
.addNhaCungCap{
    display: block !important;
    animation: 1s anmNhaCungCap;
}
.addKhachHang{
    display: block !important;
    animation: 1s anmkhachHang;
}
.addBg{
    background: #9999993d;
}
/* form */

#subMenu ul li i {
    float: right;
}

div#subMenu ul ul li {
    
text-indent:20px;
}

div#subMenu ul li a {
    padding: 15px;
    color: #333;
    display: block;
}

div#subMenu ul li a:hover {
    background: #4040402e;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu2Right a {
    margin-left: 10px;
}

a#shopDangKy {
    border: 2px solid #333;
    border-radius: 5px;
}

.header {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

a#dangKy {
    border: 2px solid #e23bd1;
    border-radius: 5px;
}

a#dangKy:hover {
    background-image: linear-gradient(to right, #ff00ba , rgb(140, 70, 187));
    color: white !important;
    transition: 0.25s;
}
.logo a{
    color: #ff00ba;
    font-weight: bold;
    font-size: 30px;
}
.menu2Right a {
    color: black;
}

.menu2Left a {
    padding-right: 15px;
    color: black;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

div#menu2 {
    display: flex;
    height: 60px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rightMenu a {
    padding-left: 15px;
    color: #33333375;
}

.icons {
    flex: 1;
    display: flex;
    justify-content: center;
}

div#iconSubMenu {
    display: flex;
    justify-content: flex-start;
}

div#iconSubMenu a {
    padding: 0;
}

.icons a {
    padding: 0 15px;
    color: #33333394;
}

div#menu1 {
    display: flex;
}
.wrapper {
    max-width: 100%;
    overflow-x: hidden;
}
.noidungBlog{
    /* padding-top: 20px; */
}
#iconBar{
    display: none;
}
#iconUser{
    display: none;
}
#subMenu ul{
    display: none;
}
#infoUser{
    display: none;
}
/* #subMenu{
    display: fixed;
    
} */

/* test */
/* #subMenu{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background: green;
    z-index: 3;
} */
/* test */
@media (max-width:768px){
    .mainHeader {
        height: 80px;
        display: flex;
        align-items: center;
    }
    #iconBar{
        display: block;
    }
    .menu2Left{
        display: none;
    }
    .menu2Right{
        display: none;
    }
    #iconUser{
        display: block;
    }
    div#menu1{
        display: none;
    }
    .header {
        background: #a5a5a547;
    }
    #subMenu ul {
        display: none;
    }
    #subMenu ul li{
        display: block;
    }
    div#menu2 {
        width: 100%;
    }
    .blogCheese h1 {
        font-size: 20px;
    }
    .blogCheese p {
        font-size: 14px;
    }
    .siderbarRight {
        padding: 0;
        /* padding-top: 20px; */
    }
    .addMenu2{
        padding: 0px 20px;
    }
}
/* @media (min-width: 767px) and (max-width:991px){
    .addMenu2{
        padding: 0px 130px;
    }
} */
@media (max-width:575px){
    .addMenu2{
        padding: 0px 20px;
    }
}

@media (min-width: 576px) and (max-width:767px){
    .addMenu2{
        padding: 0px 130px;
    }
}
/* @media (min-width: 768px) and (max-width:991px){
    .addMenu2{
        padding: 0px 150px;
    }
} */



