@mixin titleSection2($name,$name1,$name2) {
    .#{$name}{
        padding-bottom: 2rem;
        .#{$name1}{
            font-family: $DancingScript-slab;
            font-size: 4.5rem;
            color: $colorWhite !important;
            span{
                color: $colorYellow;
            }
        }
        .#{$name2}{
            font-family: $Roboto-Slab;
            font-size: 1.8rem;
            color: $colorWhite;
        }
    }
}
@mixin owl-Section2($name) {
    ##{$name}{
        .owl-nav{
            font-size: 3rem;
            color: white;
            float: left;
            margin-top: 2rem;           
            button{
                outline: none;
                border: none;
                padding: 0.5rem 2rem !important;
                background: #414141; 
                span{
                    margin-right: 1rem;                   
                }
            }
            
        } 
    }
}
@mixin boxTitleSec2($name) {
    .#{$name}{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        
        p{
            
            font-family: $Oswald;
            font-size: 2.2rem;
            padding-bottom: 2rem;
            
            text-align: left;
        }
        
    }
}
@mixin box1Section2($name,$name1,$name2){
    .#{$name}{
        display: flex;
        flex-direction: row;
        // @include mobile{
        //     flex-direction: column;
        // }
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        
        .#{$name1}{
            padding-left: 1rem;
            span{
                @include mobile{
                    display: none;
                }
            }
            
        }
        .#{$name2}{
            position: relative;       
            button{
                position: absolute;
                top: 0;
                left: 0;
                padding:0.8rem 1.2rem;
                background-color: $colorYellow;
                border: none;
                font-family: $Roboto-Slab;
                font-weight: bold;
                font-size: 1.1rem;
            }
            
        }
    }
}
@mixin contentSection2($name) {
    .#{$name}{
        
        border: 7px solid #bababa;
        // opacity: 0.7;
        padding: 7rem;
        @include mobile{
            padding: 2rem;
        }
    }
}
@mixin section2($name,$padding) {
    .#{$name}{
        color: $colorWhite !important;
        padding: $padding 0;
        background-color: $colordark;
        @include contentSection2('contentSection2');
        @include titleSection2('titleSection2','title1','title2');
        @include owl-Section2('owl-Section2');
        @include boxTitleSec2('boxTitleSec2');
        @include box1Section2('box1Section2','textSec2','imageSection2');
    }
}
@include section2('section2',5rem);