@mixin titleSec3Home($name) {
    .#{$name}{
        padding:5rem 0;
        h3{
            font-family: $DancingScript-slab;
            color: $colorYellow;
            font-size: 3.8rem;
        }
        p{
            font-size: 2.4rem;
            font-family: $Roboto-Slab;
            font-weight: bold;
        }
    }
}
@mixin box1Sec3Home($name,$name1,$name2,$name3,$name4,$name5) {
    .#{$name}{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding:2rem 0;
        border-bottom: 2px dashed $colorLight;
        @include mobile{
            flex-direction: column;
        }
        .#{$name3}{
            position: relative;
            margin-left: 1rem; 
            .#{$name4}{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                background-color: $colorYellow;
                color: $colorWhite;
                font-family: $Roboto-Slab;
                font-size: 2.4rem;
                opacity: 0;
                transition: 1.25s;
            }
            &:hover{
                .#{$name4}{
                    opacity: 1;
                }
            }
            @include mobile{
                order:1;
            }
        }
        ##{$name5}{
            margin-right: 1rem;
            .#{$name3}{
                margin-left: 0;
                // margin-right: 1rem;
            }
            
        }
        
        .#{$name1}{
            padding:2.5rem 0;
            h4{
                font-family: $Oswald;
                font-size: 2rem;
                color: $colorGray;
            }
            p{
                font-family: $Roboto-Slab;
                font-size: $fsText;
                color: $colorLightGray;
                padding:1rem 0;
            }
            button{
                border: none;
                background: none;
                font-family: $Roboto-Slab;
                font-size: 1.5rem;
                color: $colorYellow;
            }
        }
    }
    ##{$name2}{
        border: none;
    }
}
@mixin section3($name,$margin) {
    .#{$name}{
        margin: $margin 0;
        @include titleSec3Home('titleSec3Home');
        @include box1Sec3Home('box1Sec3Home','textSec3Home','changeBdSec3','imgSec3Home','ovelaySec3Home','changeimgSec3Home');
    }
}
@include section3('section3Home',5rem);