@mixin titleSec5Home($name) {
    .#{$name}{
        h3{
            font-size: 3.8rem;
            font-family: $DancingScript-slab;
            color: $colorYellow;
        }
        p{
            color: $colorBlack;
            font-family: $Roboto-Slab;
            font-size: 2.4rem;
            font-weight: bold;
        }
    }
}
// @keyframes anmSec5Home{
//     from{
//         left: -100%;
//     }
//     to{
//         left: 0;
//     }
// }
@mixin boxSec5Home($name,$name1) {
    .#{$name}{
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        .#{$name1}{
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left:-100%;
            background-color: $colorYellow;
            border-radius: 50%;
            border: 0.7rem solid $colorLight;
            transition: 1s;
            visibility: hidden;
            opacity: 0;
            
            a{
                color: white;
                font-size: 2rem;
                padding: 0 1rem;
            }
        }
        &:hover{
            .#{$name1}{
                left:0;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
@mixin textSec5($name) {
    .#{$name}{
        h4{
            font-size: 2rem;
            font-family: $colordark;
            font-family: $Oswald;
            font-weight: bold;
        }
        p{
            font-size: 1.5rem;
            font-family: $Roboto-Slab;
            color: $colorYellow;
        }
    }
}
@mixin contentSec5Home($name) {
    .#{$name}{
        @include boxSec5Home('boxSec5Home','overlaySec5Home');
        @include textSec5('textSec5');
    }
}
@mixin section5Home($name,$padding) {
    .#{$name}{
        padding: $padding 0;
        @include titleSec5Home('titleSec5Home');
        @include contentSec5Home('contentSec5Home');
    }
}
@include section5Home('section5Home',5rem);