
  @mixin section1($name,$padding) {
      .#{$name}{
          padding: $padding 0;
        .owl-item {
            div {
                cursor: pointer;
                margin: 12% 6%;
                transition: margin 0.4s ease;
              }
              &:not(.center){
                div{
                    &:hover{
                      opacity: .75;
                      
                    }
                }
            }
        } 
        .center{
            div {
                cursor: auto;
                margin: 0;
            }
        }  
      }
  }
  @include section1('section1',7rem);