@mixin boxSec4($name,$name1) {
    .#{$name}{
        position: relative;
        overflow: hidden;
        .#{$name1}{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $colorLight;
            background-image: linear-gradient(-180deg, $colorLight,$colorGray);
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.5s;
            h3{
                padding: 1.5rem;
                color: $colorWhite;
                font-family: $Oswald;
                font-weight: bold;
                font-size: 2.4rem;
            }
        }
        &:hover{
            .#{$name1}{
                opacity: 1;
            }
        }
    }
}
@mixin section4Home($name) {
    .#{$name}{
        @include boxSec4('boxSec4','OverBoxSec4');
    }
}
@include section4Home('section4Home');