@mixin textSec7Home($name) {
    .#{$name}{
        padding:2rem 0;
        h3{
            font-size: 1.8rem;
            font-family: $Oswald;
            font-weight: bold;
            color: $colorGray;
        }
        p{
            font-family: $Roboto-Slab;
            font-size: 1.4rem;
            span{
                color: $colorYellow;
            }
        }
    }
}
@mixin flexSec7Home($name) {
    .#{$name}{
        padding-top: 2rem;
        border-top: 2px dashed $colorGrayLight;
        font-family: $Roboto-Slab;
        font-size: 1.4rem;
        font-weight: bold;
        a{
            color: $colorGray;
            text-decoration: none;    
        }
        p{
            span{
                color: $colorGrayLight;
                font-weight: normal;
            }
        }
    }
}
@mixin contentSec7Home($name) {
    .#{$name}{
        @include textSec7Home('textSec7Home');
        @include flexSec7Home('flexSec7Home');
    }
}
@mixin titleSec7Home($name) {
    .#{$name}{
        h3{
            font-family: $DancingScript-slab;
            font-size: 4rem;
            color: $colorYellow;
        }
        p{
            font-family: $Roboto-Slab;
            font-size: 2.4rem;
            color: $colorGray;
            font-weight: bold;
        }
    }
}
@mixin section7Home($name) {
    .#{$name}{
        padding-top: 10rem;
        padding-bottom: 10rem;
        @include titleSec7Home('titleSec7Home');
        @include contentSec7Home('contentSec7Home');
    }
}
@include section7Home('section7Home');