@mixin boxSec6Home($name,$name1) {
    .#{$name}{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        .#{$name1}{
            width: 60%;
            margin: 0 auto;
            p{
                font-family: $Roboto-Slab;
                font-size: 1.4rem;
                color: $colorWhite;
            }
            h3{
                font-family: $DancingScript-slab;
                font-size: 2.4rem;
                color: $colorYellow;
            }
        }
    }
}
@mixin owl-sec6($name) {
    ##{$name}{
        .owl-item {
            img{
                width: auto;
                min-width: 100%;
            }
        }
        .owl-dots{
            position: absolute;
            top: 65%;
            width: 100%;
            @include mobile{
                top: 80%;
            }
            
        }
    }
}
@mixin sec6Home($name) {
    .#{$name}{
        @include boxSec6Home('boxSec6Home','textSec6Home');
        @include owl-sec6('owl-sec6');
    }
}
@include sec6Home('sec6Home');