
@mixin textBanner($name,$fsEnd,$name1) {
    .#{$name}{
        // .#{$name1}{
            text-align: center;
            h3{
                color: $colorYellow;
                font-family: $DancingScript-slab;
                font-size: $fsBannerDan;
            }
            p{
                color: $colorWhite;
                font-family: $Roboto-Slab;
                font-weight: bold;
                font-size: $fsBannerRobo;   
                
            }
            @include mobile{
                h3{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 2rem;
                }
                
            }
        // }
        
    }
}
@mixin filters($name,$name1) {
    .#{$name}{
        ul{
            h4{
                li{
                    color: $colorWhite;
                    padding: 0 1.5rem;
                    &:hover{
                        color: $colorYellow;
                        cursor: pointer;
                    }
                }
                .#{$name1}{
                    color: $colorYellow;
                }
            }
        }
    }
    @include mobile{
        .#{$name}{
            h3{
                font-size: 2.5rem;
            }
            p{
                font-size: 2rem;
            }
        }
    }
}
@mixin banner($name,$height) {
    .#{$name}{
        width: 100%;
        height: $height;
        background-color: $colorGrayLight;
        @include textBanner('textBanner',38px,'textBanner1');
        @include filters('filters','active');
    }
}
@include banner('banner',500px);
