
@mixin titleOurSer($name) {
    .#{$name}{
        text-align: center;
        h3{
            font-family: $DancingScript-slab;
            font-size: $fsOurDan;
            color: $colorYellow;
        }
        p{
            font-family: $Roboto-Slab;
            font-size: $fsOurRobo;
            color: $colorGray;
            font-weight: bold;
        }
    }
}
@mixin editCarousel($name) {
    .#{$name}{
        
            img {
                margin: 0;
                display: block;
                width: 50%;
                height: 100px !important;
                padding-bottom: 20px;
             }
             h3{
                font-family: $Oswald;
                font-size: $fsOurOswa;
                color: $colorLightGray;
             }
             p{
                font-family: $Roboto-Slab;
                font-size: $fsText;
                color: $colorLightGray;
                line-clamp: 3;
                display: box;
                -moz-box-orient: vertical;
                height: 70px;
                line-height: 22px;
                overflow: hidden;
                padding: 5px;
             }
             a{
                color: $colorYellow;
                font-family: $Roboto-Slab;
                font-size: $fsText;

        }
    }
}
@mixin  sliderOurSet($name,$padding-top) {
    .#{$name}{
        padding-top: $padding-top;
        @include editCarousel('editCarousel');
    }
}
@mixin ourService($name,$padding) {
    .#{$name}{
        padding-top: $padding;
        padding-bottom: $padding;
        @include titleOurSer('titleOurSer');
        @include sliderOurSet('sliderOurSet',60px);
    }
}
@include ourService('ourService',120px);