@mixin boxSection2($name,$pdTop) {
    .#{$name}{
        margin-top: $pdTop;
    }
}
@mixin textSection2($name,$fontSize,$padding) {
    .#{$name}{
        padding: $padding 50px;
        h4{
            font-family: $Oswald;
            font-size: $fontSize;
            color: $colorGray;
        }
        h3{
            font-family: $DancingScript-slab;
            font-size: $fontSize;
            color: $colorYellow;
        }
        p{
            padding-top: $pdChung;
            padding-bottom: $pdChung;
            font-family: $Roboto-Slab;
            font-size: $fsText;
            color: $colorLightGray;
        }
        ul{
            li{
                a{
                    font-size: 20px;
                    padding: 8px 12px;
                    color: $colorWhite;
                    background-color: $colorGray;
                    margin-right: 10px;
                    &:hover{
                        background-color: $colorYellow;
                    }
                }
            }
        }
    }
}
@mixin section2($name) {
    .#{$name}{
        
        background-color: $colorGWhite;
        @include boxSection2('boxSection2',20px);
        @include textSection2('textSection2',3rem,200px);
    }
}
@include section2('section2');