html{
    font-size: 62.5%;
}
// @include resTotal {
//     html{
//         font-size: 50%;
//     }
// }
@mixin textSection3($name){
    .#{$name}{
        font-size: $fsSec3Ro;
        @include resTotal {
            font-size:2rem;
            text-align: center;
        }
        color: $colorWhite;
        font-family: $Roboto-Slab;
    }
}
@mixin btnSection3($name){
    .#{$name}{
        button{
            font-size: $fsText;
            color: $colorGray;
            font-family: $Roboto-Slab;
            background-color: $colorYellow;
            border: none;
            padding: 1.5rem 2rem;
            &:hover{
                transform: scale(1.05, 1.05);
                transition: 0.25s;
            }
        }   
        @include resTotal{
            margin-top: $mgChung;
        }
    }
}
@mixin section3($name,$name1,$height) {
    .#{$name}{
        height: $height;
        background-color: $colorGrayLight;
        .#{$name1}{
            display: flex;     
            align-items: center;
            justify-content: space-between;
            @include resTotal{
                flex-direction: column;
                justify-content: center;
            }
            
        }
        @include textSection3('textSection3');
        @include btnSection3('btnSection3');
    }
}
@include section3('section3','section3Res',200px);