@mixin section1Text($name,$name1,$marginBottom) {
    .#{$name}{
        h4{
            font-family: $DancingScript-slab;
            color: $colorYellow;
            font-size: $fsSec1Dan;
        }
        h3{
            font-family: $Oswald;
            text-transform: uppercase;
            font-size: $fsSec1Oswa;
            font-weight: bold;
            margin-bottom: $marginBottom;
        }
        
        .#{$name1}{
            p{
                font-family: $Roboto-Slab;
                font-size: $fsText;
                color: $colorLightGray;
                margin-bottom: 2rem;
            }
            h5{
                font-family: $Oswald;
                font-size: 1.6rem;
                color: $colorGray;
                font-weight: bold;
            }
        }
        button{
            background-color: $colorYellow;
            color: $colorGray;
            padding: 2rem 2.5rem;
            border: none;
            font-family: $Roboto-Slab;
            font-size: $fsText;
            margin-bottom: $marginBottom;
            &:hover{
                transform: scale(1.05, 1.05);
                transition: 0.25s;
            }
        }
    }
    @include mobile{
        .#{$name}{
            h3{
                font-size: 2rem;
            }
        }
        
    }
}
@mixin sectionBox($name,$name1,$height) {
    .#{$name}{
        .#{$name1}{
            height: $height;
            width: 100%;
            background-color: $colorLight;
        }
    }
}
@mixin section1($name,$padding) {
    .#{$name}{
        padding-top: $padding;
        padding-bottom: $padding;
        @include section1Text('section1Text','section1TextP',35px);
        @include sectionBox('sectionBox','sectionBox1',370px);
    }
}
@include section1('section1',100px);