@mixin reviewShop($name) {
  .#{$name} {
    padding: 1rem 0;
  }
}
@mixin price($name) {
  .#{$name} {
    padding: 1.5rem 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }
}
@mixin addCart($name) {
  .#{$name} {
    padding: 2rem 0;
    input {
      width: 5rem;
      padding: 1.5rem;
      font-family: $Roboto-Slab;
      font-size: 1.4rem;
      text-align: center;
      border: 1px solid #ececec;
      margin-left: 2rem;
      &::placeholder {
        color: #555555;
      }
    }
    button {
      padding: 1.8rem 3rem;
      background-color: $colorYellow;
      color: $colorWhite;
      border: none;
      font-family: $Roboto-Slab;
      text-transform: uppercase;
      margin-left: 2rem;
    }
    h6 {
      font-family: $Roboto-Slab;
      font-size: 1.4rem;
    }
    img {
      border: 1px solid #ececec;
      width: 5rem;
      padding: 1.5rem;
      margin-left: 2rem;
    }
  }
}
@mixin tabs($name,$name1) {
  .#{$name} {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      font-family: $Roboto-Slab;
      background: none;
      color: $colorGray;
      font-size: 1.4rem;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }
    .#{$name1} {
    //   background: $colorYellow;
      border-right: 1px solid #ececec;
      border-top: 1px solid #ececec;
      border-left: 1px solid #ececec;
      color: #222;
    }
  }
}
@mixin tab-content($name, $name1) {
  .#{$name} {
    display: none;
    font-family: $Roboto-Slab;
    color: $colorLightGray;
    font-size: 1.4rem;
    padding: 2rem;
    border: 1px solid #ececec;
  }
  .#{$name1} {
    display: inherit;
  }
}
@mixin singleProduct($name) {
  .#{$name} {
    padding-top: 10rem;
    h5 {
      font-size: 2rem;
      font-family: $Oswald;
      color: $colorGray;
    }
    p {
      font-family: $Roboto-Slab;
      color: $colorLightGray;
      font-size: 1.4rem;
      // margin: 0;
    }
    h3 {
      color: $colorYellow;
      font-family: $Roboto-Slab;
      font-weight: bold;
      margin: 0;
      margin-bottom: 1rem;
    }
    span {
      font-family: $Roboto-Slab;
      font-size: 1.4rem;
      color: #acacac;
      padding: 0 0.5rem;
      a {
        color: #acacac !important;
        text-decoration: none;
      }
    }
    @include reviewShop("reviewShop");
    @include price("price");
    @include addCart("addCart");
    @include tabs("tabs","current");
    @include tab-content("tab-content", "current");
  }
}

@include singleProduct("singleProduct");
