@mixin imgShop($name,$name1) {
    .#{$name}{
        position: relative;
        .#{$name1}{
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 1.5rem;
            // width: 40%;
            background: $colorYellow;
            color: $colorWhite;
            cursor: pointer;
            p{
              color: $colorWhite !important;
              margin-left: 1rem;
              margin-bottom: 0;
            }
            opacity: 0;
            transition: 0.75s;
          }
          &:hover{
            .#{$name1}{
              opacity: 1;
            }
          }
    }
}
@include imgShop('imgShop','btnShop');