@mixin boxShop($name) {
  .#{$name} {
    @include mobile{
      flex-direction: column;
      p{
        order: 1;
        
      }
      .selectShop{
        width: 100%;
        margin-bottom: 2rem;
        .ui-btn{
          width: 100% !important;
        }
        
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
    .selectShop {
      .ui-select {
        .ui-btn {
          text-shadow: none;
          display: flex;
          width: 20em;
          padding: 2rem;
          background: none;
          outline: none;
          color: $colorLightGray;
          font-family: $Roboto-Slab;
          font-size: 1.4rem;
          font-weight: normal;
          overflow: hidden;
          border-radius: 0.25em;

          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background-image: none;
            &::-ms-expand {
              display: none;
            }
            flex: 1;
            cursor: pointer;
          }
          &::after {
            content: "\25BC";
            position: absolute;
            text-align: center;
            height: 100%;
            bottom: 0;
            right: 0;
            padding: 0 2rem;
            margin-right: 1rem;
            color: $colorLightGray;
            cursor: pointer;
            pointer-events: none;
            -webkit-transition: 0.25s all ease;
            -o-transition: 0.25s all ease;
            transition: 0.25s all ease;
          }
          &:hover {
            &::after {
              color: $colorYellow;
            }
          }
        }
        .ui-btn-icon-right {
          &::after {
            background: none;
          }
        }
      }
    }
  }
}
@mixin childBox1Shop($name,$name1,$name2) {
  .#{$name}{
    .#{$name1}{
      position: relative;
      .#{$name2}{
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1rem;
        width: 60%;
        background: $colorYellow;
        color: $colorWhite;
        cursor: pointer;
        p{
          color: $colorWhite;
          margin-left: 1rem;
        }
        opacity: 0;
        transition: 0.75s;
      }
      &:hover{
        .#{$name2}{
          opacity: 1;
        }
      }
    }
  }
}
@mixin box1Shop($name) {
  .#{$name}{
    padding: 5rem 0;
    h5{
      font-size: 1.5rem;
      color: $colorGray;
      font-weight: bold;
      margin: 0;
    }
    p{
      margin: 0;
      padding: 0;
    }
    @include childBox1Shop('childBox1Shop','imgShop','btnShop');
  }
}
@mixin shop($name) {
  ##{$name} {
    @include boxShop("boxShop");
    @include box1Shop('box1Shop');
  }
}
@include shop("shop");
