
@mixin exzoom($name) {
    .exzoom{
        .exzoom_img_box{
            .exzoom_preview{
                z-index: 2 !important;
            }
        }
        .exzoom_nav{
            left: 0;
            // height: 200px;
            .exzoom_nav_inner{
                // width: 100% !important;
                span{
                    margin-left: 0 !important;
                    // img{
                    //     width: 100% !important;
                    //     height: 100% !important;
                    // }
                }
                // .current{
                //     width: 150px !important;
                // }
            } 
        }
    } 
    #exzoom{
        
    }
}
@include exzoom('exzoom');