@mixin boxSec1Re($name) {
    .#{$name}{
        padding: 5rem 0;
        width: 50%;
        margin: 0 auto;
        border-bottom: 1px solid $colorLight;
        h3{
            font-family: $DancingScript-slab;
            color: $colorYellow;
            font-size: 3.2rem;
            // font-weight: bold;
        }
        h4{
            font-family: $Roboto-Slab;
            color: $colorGray;
            font-weight: bold;
            font-size: 2.8rem;
            // padding-bottom: 3rem;
        }
        p{
            font-family: $Roboto-Slab;
            color: $colorLightGray;
            font-size: $fsText;
            padding-bottom: 1rem;
            span{
                color: $colorYellow;
            }
        }
        
    }
    @include mobile{
        .#{$name}{
            width: 100%;
        h3{
            font-size: 2.5rem;
        }
        h4{
            font-size: 2rem;
            padding-bottom: 1rem;
        }
        }
        
    }
    @include tablet{
        .#{$name}{
            width: 60%;
        }
    }
    
}
@mixin section1Re($name) {
    .#{$name}{
        @include boxSec1Re('boxSec1Re');
    }
}
@include section1Re('section1Re');