@mixin formInline($name,$name1,$name2) {
    .#{$name}{
        
        ##{$name1}{
            i{
                position: absolute;
                right: 0;
                padding-right: 3rem;
                font-size: 2.5rem;
                color: $colorLightGray;
                cursor: pointer;
            }
            input{
                padding:2rem;
                &::placeholder{
                    font-family: $Roboto-Slab;
                    font-size: $fsText;
                }
            }
        }
        ##{$name2}{
            margin: 0 auto;
            button{
                padding:1.5rem 3rem;
                background-color: $colorYellow;
                font-family: $Roboto-Slab;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }
}
@mixin section2Re($name) {
    .#{$name}{
        padding:7rem 0;
        h3{
            font-family: $Roboto-Slab;
            font-size: 2.2rem;
            font-weight: bold;
        }
    }
    @include formInline('form-inline','inputIcon','submitRe');
}
@include section2Re('section2Re');