
@mixin titleItemIso($name,$name1){
    .#{$name}{
        padding:3rem;
        h3{
            font-family: $DancingScript-slab;
            font-size: 3.2rem;
            color: $colorYellow;
            padding-top: 1rem;
            font-weight: normal;
        }
        p{
            font-family: $Roboto-Slab;
            font-size: 2.8rem;
            // font-weight: bold;
            color: $colorGWhite;
        }
        .#{$name1}{
            font-family: $Roboto-Slab;
            font-size: 2.8rem;
            color: $colorGray;
            font-weight: bold;
        }
    }
}
@mixin grid($name) {
    .#{$name}{
        @include titleItemIso('titleItemIso','ItemIso1');
        h3{
            font-family: $Oswald;
            font-size: 1.5rem;
            color: $colorGray;
            font-weight: bold;
            p{
                font-family: $Oswald;
                font-size: 1.5rem;
                color: $colorGray;
                font-weight: bold;
                padding-left: 1.5rem;
            }
            @include resTotal{
                white-space: wrap;
                span{
                    display: none;
                }
            }
        }
        p{
            font-family: $Roboto-Slab;
            font-size: 1.4rem;
            color: $colorLightGray;
        }
    }
}
@mixin bgGrid($name){
    .#{$name}{
        padding:3rem 0;
        background-color: $colorGray;
        margin-bottom: 3rem;
    }
}
@mixin pdGrid($name){
    .#{$name}{
        margin:5rem 0;
    }
}
@mixin isoFilter($name) {
    .#{$name}{
        padding-bottom: 5rem;
        @include grid('grid');
        @include bgGrid('bgGrid');
        @include pdGrid('pdGrid');
    }
}
@include isoFilter('isoFilter');