@mixin titleSec1Menu($name) {
    .#{$name}{
        padding-bottom: 7rem;
        h3{
            font-size: 3.2rem;
            font-family: $DancingScript-slab;
            color: $colorYellow;
        }
        h4{
            font-size: 2.8rem;
            font-family: $Roboto-Slab;
            color: $colorGray;
            font-weight: bold;
        }
    }
    @include mobile{
        .#{$name}{
            h3{
                font-size: 2.4rem;
            }
            h4{
                font-size: 2rem;
            }
        }
    }
}
@mixin box1Sec1Menu($name,$name1) {
    .#{$name}{
        position: relative;
        button {
            position: absolute;
            top: 0;
            left: 0;
            margin: 1rem;
            padding: 1rem 3rem;
            background-color: $colorYellow;
            border: none;
            outline: none;
            font-family: $Roboto-Slab;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .#{$name1}{
            h5{
                font-family: $Oswald;
                font-size: 1.7rem;
                font-weight: bold;
                padding: 2rem 0 0.5rem 0;
            }
        }
        p{
            font-family: $Roboto-Slab;
            font-size: $fsText;
            color: $colorLightGray;
        }
        &:hover{
            h5{
                color: $colorYellow;
            }
        }
    }
}
@mixin boxSec1Menu($name) {
    .#{$name}{
        @include box1Sec1Menu('box1Sec1Menu','flexbox1Sec1');
    }
}
@mixin btnSec1Menu($name) {
    .#{$name}{
        button{
            padding: 1.5rem 2.5rem;
            background-color: $colorYellow;
            border: none;
            font-family: $Roboto-Slab;
            font-size: $fsText;
            font-weight: bold;
        }
    }
}
@mixin sec1Menu($name) {
    .#{$name}{
        padding:10rem 0;
        @include titleSec1Menu('titleSec1Menu');
        @include boxSec1Menu('boxSec1Menu');
        @include btnSec1Menu('btnSec1Menu');
    }
}
@include sec1Menu('sec1Menu');