@mixin titleBlog($name) {
    .#{$name}{
        padding: 10rem 0 6rem 0;
    }
}
@mixin box1Blog($name,$name1,$name2) {
    .#{$name}{
        .#{$name1}{
            padding: 2rem 0;
            .#{$name2}{
                border-top: 1px dotted $colorLight;
                padding:1rem 0;
                p{
                    font-weight: bold;
                    a{
                        color: $colorLightGray;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
            ul{
                list-style: none;
                li{
                    color: $colorYellow;
                    font-family: $Roboto-Slab;
                    font-size: 1.4rem;
                    color: $colorLightGray;
                    &::before{
                        content: "\25AA"; 
                        color: $colorYellow;
                        float: left;
                        width: 1em;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
@mixin searchBlog($name) {
    .#{$name}{
        position: relative;
        margin-bottom: 3rem;
        input{
            width: 100%;
            padding: 1.5rem 2rem;
            border: 1px solid #aaa;
            font-size: 1.4rem;
            &::placeholder{
                font-family: $Roboto-Slab;
                font-size: 1.3rem;
                color: $colorWhitee;
                
            }
        }
        .fa-search{
            position: absolute;
            font-size: 2rem;
            top:1.5rem;
            right: 1rem;
            color: $colorLightGray;
        }
    }
}
@mixin categoriesBlog($name) {
    .#{$name}{
        margin-bottom: 3rem;
        ul{
            list-style: none;
            // list-style: disc;
            // list-style: inside;
            
            li{
                padding: 1.5rem 0;
                &::before{
                    content: "\2022";
                    color: $colorLightGray;
                    font-weight: bold;
                    display: inline-block; 
                    width: 1rem;
                    // font-size:2rem;
                    // margin-left: -1em;
                }
                a{
                    font-family: $Roboto-Slab;
                    font-size: 1.4rem;
                    text-decoration: none;
                    color: $colorLightGray;
                }
            }
        }
    }
}
@mixin divTopRate($name){
    .#{$name}{
        h6{
            font-family: $Oswald;
            font-size: 1.6rem;
        }
        p{
            font-family: $Roboto-Slab;
            font-size: 1.3rem;
            color: $colorGray;
            font-weight: bold;
            span{
                margin-left: 2rem;
                color: $colorWhitee;
                text-decoration: line-through $colorGray;
                font-weight: bold;
            }
        }
    }
}
@mixin topRateBlog($name) {
    .#{$name}{
        h5{
            padding: 2rem 0;
        }
        @include divTopRate('divTopRate');
    }
}
@mixin filterBlog($name) {
    .#{$name}{
        h5{
            padding: 2rem 0;
        }
        // form{
        //     margin: 60px 0 0 0 !important;
        // }
    }
}
@mixin box2Blog($name) {
    .#{$name}{
        @include searchBlog('searchBlog');
        @include categoriesBlog('categoriesBlog');
        @include filterBlog('filterBlog');
        @include topRateBlog('topRateBlog');
    }
}
@mixin box1CmtBlog($name,$name1,$name2,$name3) {
    .#{$name}{
        padding: 2rem 0;
        @include mobile {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                padding-left: 0 !important;
                margin-left: 0 !important;
                margin: 2rem 0;
            }
            .#{$name1}{
                margin-left: 0 !important;
                padding: 0;
            }
        }
        .#{$name1}{
            p{
                padding: 2rem 0;
                border-bottom: 2px solid #f3f3f3;
            }
            .#{$name3}{
                p{
                    font-size: 1.2rem;
                    border: none;
                    padding:0;
                }
                a{
                    font-family: $Roboto-Slab;
                    font-size: 1.2rem;
                    color: $colorBlack;
                    // text-decoration: none;
                    &:hover{
                        color: $colorYellow;
                    }
                }
            }
        }
    }
}

@mixin commentBlog($name,$name1) {
    .#{$name}{
        h6{
            margin: 0;
        }
        p{
            margin: 0;
            padding: 0;
            padding-right: 2rem;
        }
        .#{$name1}{
            @include box1CmtBlog('box1CmtBlog','textBox1CmtBlog','titletextCmtBlog','textRightCmt');
            
        }
    }
}
@mixin formBlog($name) {
    .#{$name}{
        padding-bottom: 10rem;
        form{
            .ui-shadow-inset{
                box-shadow: none;
            }
            input {
                width: 100%;
                padding: 12px;
                // outline: none;
                border: none;
                background: none;
                // border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1.4rem;
            }
            label{
                font-family: $Roboto-Slab;
                font-size: 14px;
                color: $colorLightGray;
                span{
                    color: $colorYellow;
                }
            }
            textarea{
                width: 100%;
                height: 128px !important;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1.4rem;
            }
            input[type = submit]{
                background: $colorYellow;
                border: none;
                font-family: $Roboto-Slab;
                font-size: 14px;
                text-transform: uppercase;
                color: $colorWhite;
            }
        }
    }
}
@mixin boxBlog($name) {
    .#{$name}{
        @include box1Blog('box1Blog','text1Blog','endBlog');
        @include box2Blog('box2Blog');
        @include commentBlog('commentBlog','text1Blog');
        @include formBlog('formBlog');
    }
}
@mixin blog($name) {
    .#{$name}{
        
        h3{
            font-family: $DancingScript-slab;
            font-size: 3.2rem;
            color: $colorYellow;
        }
        h4{
            font-family: $Roboto-Slab;
            font-weight: bold;
            font-size: 2.8rem;
            color: $colorGray;
        }
        h5{
            font-family: $Oswald;
            font-size: 1.8rem;
            color: $colorGray;
            padding: 1rem 0;
        }
        h6{
            font-family: $Oswald;
            font-size: 1.5rem;
            color: $colorGray;
        }
        p{
            font-family: $Roboto-Slab;
            font-size: 1.4rem;
            color: $colorLightGray;
            padding: 0.5rem 0 1.5rem 0;
            span{
                color: $colorYellow;
            }
        }
        @include titleBlog('titleBlog');
        @include boxBlog('boxBlog');
    }
}
@include blog('blog');
@mixin ui-mobile-viewport($name) {
    .#{$name}{
        line-height: 2.5rem;
        .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
            text-shadow: none;
            a{
                font-weight: normal;
            }
            .ui-btn{
                text-shadow: none;
            }
            .ui-bar-inherit{
                text-shadow: none;
                background-color: none;
            }
            .ui-body-inherit{
                background-color: none;
            }
        }
        .ui-rangeslider{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .ui-rangeslider-sliders{
                margin: 0;
                .ui-slider-track{
                    width: 100% !important;
                    order: 1;
                    .ui-btn{
                        border-radius: 50%;
                    }
                    .ui-btn-active{
                        background-color:black;
                    }
                }
            }
            input.ui-slider-input{
                order: 1;
                border: none;
                box-shadow: none;
                background: none;
                padding:0;
                padding-top: 1rem;
                // position: absolute;
                // right: 0;
                // bottom: 0;
            }
            #range-1a{
                order: 3;
                float: left;
                width: 50%;
                position: absolute;
                left: 33%;
                text-align: end;
                top: 50%;
                z-index: 5;
            }
            #range-1b{
                order: 4;
                float: right;
                text-align: end;
                width: 50%;
                right: 0;
                position: absolute;
                top: 50%;
            }
            #buttonFilter{
                order: 2;
                width: 100px;
                background: $colorYellow;
                color: white;
                outline: none;
            }
        }
    }
}
@include ui-mobile-viewport('ui-mobile-viewport');
