
@mixin section1Contact($name) {
    .#{$name}{
        margin-top: 7rem;
        h3{
            color: $colorYellow;
            font-family: $DancingScript-slab;
            font-size: 3.2rem;
        }
        h4{
            color: $colorGray;
            font-family: $Roboto-Slab;
            font-size: 2.4rem;
            font-weight: bold;
        }
        // input{
        //     width: 100%;
        // }
        form{
            margin-top: 5rem;
            .form-group,#submitRe{
                margin: 0;
                padding: 0;
                textarea{
                    font-family: $Roboto-Slab;
                        font-size: 1.3rem;
                        color: $colorLightGray;
                        padding: 2rem;
                    // &::placeholder{
                    //     font-family: $Roboto-Slab;
                    //     font-size: 1.3rem;
                    //     color: $colorLightGray;
                    //     padding: 2rem;
                    // }
                }
                
            }
            #submitRe{
                button{
                    background-color: $colorGray;
                    color: $colorWhite;
                    &:hover{
                        background-color: $colorYellow;
                    }
                }
            }
        }
    }
}
@include section1Contact('section1Contact');