

@mixin titlesec2Content($name) {
    .#{$name}{
        margin-bottom: 7rem;
        h3{
            color: $colorYellow;
            font-family: $DancingScript-slab;
            font-size: 3.2rem;
        }
        h4{
            color: $colorGray;
            font-family: $Roboto-Slab;
            font-size: 2.4rem;
            font-weight: bold;
        }
    }
}
@mixin contactFooter($name,$name1) {
    .#{$name}{
        margin-top: 3rem;
        .#{$name1}{
            color: $colorLightGray;
            font-family: $Roboto-Slab;
            font-size: 1.3rem;
        }
    }
}
@mixin sec2Contact($name) {
    .#{$name}{
        p{
            color: $colorGray;
            font-family: $Roboto-Slab;
            font-size: 1.4rem;
        }
        margin: 7rem 0;
        @include titlesec2Content('titlesec2Content');
        @include contactFooter('contactFooter','ndIconFooter');

    }
}
@include sec2Contact('sec2Contact');